#show-main img{
	width: 100%;
	background: gray;
}
.without-margin{
	margin-right:0px !important;
	margin-left: 0px !important;
}
#sign-up{
	display: block;
	margin-top: 15px;
}
#login-data{
	#login{
		padding-top: 50px;
	}
	.btn-agent{
		background: #1eabe3;
		color:#fff;
		width: 150px;
	}
	.title-code{
		font-size: 21px;
		color: #0C2D63;
		margin-bottom: 35px;
	}
	.title{
		a{font-size: 36px !important;}
		font-size: 36px !important;
		color: #0C2D63;
		margin-bottom: 35px;
	}
	#login-form{
		.form-group:nth-of-type(4),.form-group:nth-of-type(14){
			margin-bottom: 40px;
		}
	}
	.iata{
		font-size: 18px;
		font-weight: bold;
		line-height: 21px;
		text-transform: uppercase;
		color: #1eabe3;
	}
	.back-form{
		cursor: pointer;
	}
	label.error{
		color: #e86464;
	}
	.links-agent{
		position: relative;
		z-index: 2;
		a{
			display: block;
		}
	}
	#logo-signup{
		position: relative;
		z-index: 1;
		margin-top: -30px;

	}
}
#info-agent{
	padding-top: 40px;
	line-height: 42px;
	color: #ffffff !important;
	background-color: #0C2D63;
	text-align: left;
	h1{
		text-transform: initial;
		font-weight: 500;
		color:#fff;
		font-size: 36px;
	}
	p:nth-of-type(1){
		margin-top: 30px;
	}
	p{
		font-size: 19px;
		color: #ffffff !important;
	}
	a{
		text-transform: initial;
		cursor: pointer;
		color:#fff;
	}
}
#dashboard-agent{
	.welcome{
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		color: #000000;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.recover-password{
		color: black;
	}
	.btn-logout{
		background-color: #858586;
		color: #fff;
		margin-bottom: 10px;
	}
	#option-left{
		.filter{
			background-color: #F2F2F2;
			padding: 16px;
			margin-bottom: 20px;
			.title-main{
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
				color: #0C2D63;
				padding-bottom: 3px;
				border-bottom: 1px solid #E6E6E6;
				width: 100%;
			}
			.title{
				font-size: 12px;
				color: #0C2D63;
			}
			.form-check{
				font-size: 12.5px;
				line-height: 15px;
				letter-spacing: 0.07em;
				color: #5F6060;
				margin-bottom:5px
			}
		}
		.contact-info{
			p:nth-child(1){
				width: 196px;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.07em;
				text-transform: uppercase;
				color: #5F6060;
				text-align: left;
			}
			p:nth-of-type(2){
				width: 213px;
				a{
					cursor:pointer;
					text-transform: lowercase !important;
					color: #5F6060;
				}
			}
			hr{
				width: 100%;
				border: 1px solid #858586;
				transform: rotate(180deg);
			}
		}
	}
	#promotion-right{
		>.row{
			padding: 5px;
			padding-top: 15px;
			border: 1px solid #E6E6E6;
			margin-bottom: 10px;
		}
		.title-promotion{
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			color: #0c2d63;
		}
		.title-offer{
			font-weight: bold;
			font-size: 12.5px;
			line-height: 15px;
			color: #ea5e00;
		}
		.offer-porcent{
			p{text-align: center;}
			p:nth-child(1){
				font-weight: bold;
				font-size: 28px;
				line-height: 33px;
			}
			p:nth-child(2){
				font-weight: bold;
				font-size: 12.5px;
				line-height: 15px;
				color: #5F6060;
			}
		}
		.av-btn-rates{
			font-size: .8rem;
		    background-color: #ea5e00;
		    border-color: #ea5e00;
		    padding-left: 1.2rem;
		    padding-right: 1.2rem;
		}
		.view-more{
			ul{
				padding:0;
			}
			ul li{
				list-style: none;
			}
			.info-left{
				p{
					font-weight: bold;
					margin-bottom: 5px
				}
				p:nth-child(2){
					margin-bottom: 20px
				}
			}
		}
	}
}