@import '~owl.carousel/dist/assets/owl.carousel.css';
@import 'variables';
 
.banner {
    img{
        width: 100%;
    }

    > div:last-child{
        padding: 40px;
    }

    .h3{
       font-size: 42px;
       line-height: 40px;
    }

    .h4{
        font-size: 14px;
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .d-1{
        display: block;
        width: fit-content;
        margin:auto;

        ul {
            list-style: none;
            padding-left:0;
            li{
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    .btn{
        background: $sky-blue;
        border-color: $sky-blue;
        padding: 8px 34px; 
        display: block;
        margin: auto;
    }
}

.phone{
    display: block;
    padding: 0.1rem 0.3rem;
    a{
        color: white;
        font-size: 1rem;
        font-weight: bold;
    }
    a:hover{
        color: #1eabe3;
        font-weight: bold;
    }
}
.btn-left{
    border: 1px solid #adc4ce;
    color: #567e86;
    background: #adc4ce;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 500;
    padding: 2% 5%;
    font-size: 1.0rem;
    height: 50px;
    width: 35%;
    text-align: center;
    margin-left: 7%;
    margin-top: 5%;
}
.btn-right{
    background-color: #000;
    border-color: #000;
    font-weight: 500;
    font-size: 1.0rem;
    padding: 2% 5%;
    height: 50px;
    width: 35%;
    color: white;
    text-align: center;
    margin-left: 8%;
    margin-top: 5%;
}
.subtitle-big{
    color:#908c8c !important;
    font-weight: 600 !important; 
    margin: 36px; 
    font-size: 36px; 
    line-height: 1;
}

.main{
    background: $white; //$blue
    padding-top: 40px;
    padding-bottom: 1rem;

    .card-resort{
        box-shadow:none;

        .meal-plan a{
            color: #E5A100 !important;
        }
        .travel-window{
            label{
                font-weight: 300;
                width: 100%;
                font-size: 13px;
            }
            b{
                font-weight: 500;
                color: #575555;
            }
        }
        .av-btn-rates{
            background-color: #4C748B;
            border-color: #4C748B;
            cursor: pointer !important;
        }

        .card-title{
            color: #4C748B;
        }
        .card-title:hover{
            color: #4C748B;
        }

    }
    .card-text{
        a{
            color: #E5A100 !important;
        }
        a:hover{
            color: #E5A100 !important;
        }
    }
    .inclusion{
        list-style: inside !important;
        padding-left: 0px !important;

        /*ul{
            li{
                color:#000 !important;
                font-size: 1rem;
                line-height: 1.3rem;
            }
        }*/
    }

    .h1, p, h1, h2, h3{
        color: $black-gray; //$white
    }
    
    .h1{
        font-size: 24px;
        line-height: 25px;
        text-align:center;
        color: #575555;
        span{
            font-weight: 600;
        }
    }
    .titulo1{
        font-size: 40px;
        line-height: 40px;
        text-align:center;
        color: #575555;
        margin-bottom: 0 !important;
        span{
            font-size: 31px;
            font-weight: 600;
        }
    }
    .titulo_h3{
        color: #0c2d63;
        font-size: 22px;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 0.2rem !important;
    }

    .sec-breadcrumb{
        //margin-bottom: 1rem;
        margin-top: 0;
        .pt-4{
            padding-top: 0 !important;
        }   
        .breadcrumb .active{
            color: $white;
        }
    }

    .terms{
        margin-bottom: 3rem;
        text-align: justify;
        font-size: .9rem;
        font-weight: 300;
        color: #000 !important;
        line-height: 1.2rem;
        padding: 5px 0px;
    }
    .av-blue{
        color: #001569;
        font-weight: 400;
    }


    .payment-menu{
        background: $light-gray;
        margin-bottom: 0 !important;
    }
    .inclusion{
        list-style: none;
        padding-left: 10px;
    }
    .travel-window{
        color: $black-gray;
    }
    .offer-label{
        color: #4C748B;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
    .btn-view-more{
        text-align: right;
        .btn,
        .btn:active,
        .btn:focus{
            border: 1px solid #c4c4c4;
            color: #575555;
            background: #ebebeb;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-weight: 600;
            padding-bottom: 9px;
        }
    }

    .btn-booknow{
        text-align: left;
        cursor: pointer;

        .btn{
            font-weight: 600;
            padding-bottom: 9px;
        }
    }

    .button-modal-book{
        background: #4C748B!important;
        border:none;
    }
    
    .modal-exit{
        .modal-body{
            padding: 0;
        }
        
            button.btn-continue{
                position:absolute;
                bottom:40px;
                background: #003c72;
                color: #fff;
                border:none;
                padding: 10px 15px;
                font-size: 18px;
                width: 100%;
                font-weight: 500;
                width: 50%;
                left: 25%

            }
    }

    .modal-mosaic{
        p{
            color: $dark-gray;
        }

        .modal-body{
            padding: 0;
        }
        .close{
            position: absolute;
            right: 5px;
            z-index: 100;
            font-size: 2rem;
            top: -10px;
        }
        /*.h3{
            color: $blue;
            font-size: 18px;
        }*/
        .h3{
            color: $blue;
            font-size: 22px;
            text-transform: none;
            font-weight: 400;
            margin-bottom: 0.2rem !important;          
        }
        .address{
            color: #000000;
            font-size: 15px;
            font-weight: 400;
        }

        .tt-e1{
            font-size: 14px;
            color: $dark-gray;
            font-weight: 500;
            margin-bottom: 15px;
            span {
                color: $orange;
            }
        }

        .check-in{
            margin-bottom: 15px;
            p{
                margin-bottom: 0;
            }
        }

        .awards{
            .row {
                text-align: center;
            }
            img{
                margin-bottom: 10px;
                width: 100%;
            }
        }

        .amenities{
            list-style: none;
            padding-left: 0px;

            li{
                margin-bottom: 15px;
            }
        }

        .inclusions{
            list-style: none;
            padding-left: 0px;
            li{
                margin-bottom: 15px;
            }
        }

        .bt-w{
            font-size: 12px;
            font-weight: 600;
            color:$dark-gray;

            label {
                display: block;
                margin-bottom: 0;
            }
        }

        .btn-offer-condition,
        .btn-offer-condition:active,
        .btn-offer-condition:active:focus{
            background: $sky-blue;
            border-color: $sky-blue;
            color: $white;
            box-shadow: none;
            width: 100%;
        }
        .offer-condition{
            border: 4px solid $sky-blue;
        }

    }
}

.owl-theme{
    .owl-dots {
        text-align: center;
        transform: translateY(-100%) translateX(0);

        .owl-dot:focus{
            outline: none;
        }

        span{
            border-radius: 20px;
            background: #869791;
            display: block;
            width: 12px;
            height: 12px;
            margin: 5px 7px;
            filter: Alph;
            opacity: 0.5;
        }
        .active span{
            opacity: 1;
        }
    }
}

@media (min-width: 768px) {
    .banner {
        img{
            object-fit: cover;
        }
        > div:first-child{
            width: 45%;
            overflow: hidden;
        }
        > div:last-child{
            width: 55%;
        }
    }
    .main{
        .offer-desc,
        .offer-desc p{
            text-align: justify;
            font-size:1rem;
            font-weight:300;
            color:#000;
            line-height: 1.2rem;
            strong{
                color: #4C748B;
                font-weight:600;
            }
        }
    }
}

@media (min-width: 992px){
    .banner {
        > div:first-child{
            width: 60%;
        }
        > div:last-child{
            width: 40%;
            padding-top: 100px;
            padding-bottom:  100px;
            .div-b1{
                max-width: fit-content; 
                margin: auto;      
            }
        }
    }

    .main {
        .modal-mosaic{
            .bt-w{
                text-align: center;
                label{
                    display: inline-block;
                    position: relative;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                label:after{
                    content: " | ";
                    position: absolute;
                    right: -10px;
                    top: 0;
                }
                label:last-child:after{
                    display: none;
                }
            }

            .btn-offer-condition,
            .btn-offer-condition:active,
            .btn-offer-condition:active:focus{
                width: 80%;
                margin: auto;
                display: block;
            }

            .btn-offer-condition.collapsed,
            .btn-offer-condition.collapsed:active,
            .btn-offer-condition.collapsed:active:focus{
                margin-bottom: 1.5rem;
            }
        }
    }
}

.p0500{
    padding:5px 0px;
}
.plateral{
    padding-right: 30px;
}
.font-type-modal{
    font-size: 0.8rem; 
    font-weight: 400;
    color:#757575;
    line-height: 1.6;
}
.av-btn-rates,
.av-btn-rates:hover
{
    background-color: #4C748B;
    border-color: #4C748B;
    cursor: pointer;
}
.colum-title{
    font-size: 0.8rem; 
    font-weight: 500;
    color:#4C748B;
}
.resort ul{
    padding-left: 20px;
    
    li{
        line-height: 1.5;
    }
}
.viewMore{
    display: none;
}
a.btnViewMore{
    color: #E5A100 !important;
    font-weight: 500;
    padding-left: 10px;
}
a:hover.btnViewMore{
    color: #4c748b !important;
    font-weight: 500;
    padding-left: 10px;
    cursor: pointer;
}
a.resortButton,
a:hover.resortButton
{
    border: 1px solid #c4c4c4;
    color: #575555 !important;
    background: #ebebeb;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600;
    /*padding-bottom: 9px!important;*/
    padding:6px 15px 9px 15px !important;
    font-size: 14px;
    line-height: 1.5;
}
a.bookNow,
a:hover.bookNow{
    background-color: #4C748B;
    border-color: #4C748B;
    color: white!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600;
    padding:6px 15px 9px 15px !important;
    font-size: 14px;
    line-height: 1.5;
}
.texto-big{
    font-size: 3rem; font-weight: bolder;line-height: 1.5rem;color:#4C748B;
}
.texto-small{
    font-size: 1.5rem; font-weight: bolder;color:#4C748B
}
.payment-box{
    padding: 10px 20px;
}

@media screen and (max-width: 576px) {
    .main{
        .terms{
            padding: 5px 30px;
        }
    }
    .payment-box{
        padding: 10px 0px;
        width: 50%;
        padding-left: 10%;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    padding-top:15px;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.padding-top-60{
    padding-top: 60px;
}
.padding-top-20{
    padding-top: 20px;
}
.margin-secciones{
    margin:80px 0;
}
.btn-offers{
    padding:0;  
    width: 100%;
    margin: 10px 0;
}


