.usefull-information-destination{
  label{
    align-self: center;
    font-size: $font-size-sm;
    margin-bottom: 0;
    padding: 5px 0 5px 25px !important;
    &:first-child{
      color: $sky-blue;
    }
  }
}