body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

a {
  @extend %e3;
  &:visited,
  &:active,
  &:hover,
  &:link {
    @extend %e3;
    text-decoration: none;
  }
}

.text-bold{
  font-weight:bold;

}
// =====================================================================================
// Select
// =====================================================================================
.select-combo {
  font-size: 0.8rem;
  select {
    width: 100%;
  }
  .select2-container {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
  }

}

.links-resort,
.resorts-links-filtro {
  .combo-box {
    width: 100%;
    &:after {
      border-color: $white transparent transparent transparent;
      right: 10px;
    }
    select {
      border: 0;
      background-color: $dark-gray;
      color: $white;
      @include hover-focus-active {
        outline: none;
      }
    }
  }
}

.select2.select2-container {
  .select2-selection--single {
    height: $input-height;
    @include border-radius($input-border-radius, 0);
    color: $input-color;
    border: $input-border-width solid $input-border-color;
    font-family: $input-font-family;
  }
  .select2-selection__rendered {
    height: $input-height;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
  }
}

.select {
  position: relative;
  select {
    appearance: none;
    position: relative;
  }
  &:after {
    content: " ";
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 4px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
  }
}

h1,
.h1 {
  @extend %e4;
  margin-bottom: 1.5rem;
}

h2,
.h2 {
  @extend %e9;
  margin-bottom: 1.2rem;
}

.h3 {
  @extend %e13;
}
.h5{
  font-size: 1.25rem;
  display: block;
  color: $white;
}
.h6{
  display: block;
  font-size: 1rem;
}
p {
  @extend %e6;
  text-align: justify;
}

li {
  @extend %e6;
}

.breadcrumb {
  a,
  li {
    @extend %e3;
  }
  .active {
    @extend %e3;
    @extend %e3-v1;
  }
}

.e5 {
  @extend %e5;
}

.e6 {
  @extend %e6;
}

.e7 {
  @extend %e7;
}

.e8 {
  @extend %e8;
}

.e8-v1 {
  @extend %e8;
  @extend %e8-v1;
}

.e9 {
  @extend %e9;
}

.e11 {
  @extend %e11;
}

.e11-v1 {
  @extend %e11;
  @extend %e11-v1;
}

.max-container {
  max-width: 1400px !important;
}

//=======================================================================
// Stars >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//=======================================================================
.stars-group{
  img{
    height: 16px !important;
  }
}
//=======================================================================
// Stars <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
//=======================================================================

.icon-map {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  /*text-transform: capitalize;*/
  cursor: pointer;
  &:before {
    content: "";
    background: url("/img/icons-resorts/map-icon.png");
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 25px;
    background-size: cover;
    background-position: center;
  }
}

.icon-webcam-blue {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  margin-left: 5px;
  /*text-transform: capitalize;*/
  cursor: pointer;
  &:before {
    content: "";
    background: url("/img/icon-webcam/icon-webcam-blue.png");
    position: absolute;
    height: 18px;
    top: 0;
    left: 0;
    width: 18px;
    background-size: cover;
    background-position: center;
  }
}

.map-iframe {
  position: relative;
  margin-bottom: 3rem;
  iframe {
    max-width: 100%;
    width: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

.bg-light-gray {
  background-color: $light-gray;
}

#modal-map {
  .modal-dialog {
    max-width: 90%;
    height: 90%;
    iframe {
      height: 100%;
    }
    .modal-content {
      height: 90%;

    }
  }
}

.ui-datepicker {
  z-index: 1050 !important;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $white;
}

// =====================================================================================
// Icons
// =====================================================================================
.i_search {
  background-size: 100%;
  background: url(/img/ico_search.png) no-repeat center;
  width: 1rem;
  position: relative;
  display: inline-block;
  height: 1rem;
  vertical-align: inherit;
  margin-bottom: 3px;
}

.icon {
  padding: 5px 0 5px 25px;
  position: relative;
  display: block;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
}

.icon-money:before {
  background-image: url("/img/icon-wallet.png");
}

.icon-msg:before {
  background-image: url("/img/icon-spanish.png");
}

.icon-sunny:before {
  background-image: url("/img/icon-sunny.png");
}

.icon-power:before {
  background-image: url("/img/icon-power.png");
}

.icon-cellphoneservice:before {
  background-image: url("/img/icon-cellphoneservice.png");
}

.icon-family-vacations:before {
  background-image: url("/img/icon-footer/family-vacations.png");
}

.icon-romantic:before {
  background-image: url("/img/icon-footer/romantic.png");
}

.icon-diving-snorkel:before {
  background-image: url("/img/icon-footer/diving-snorkel.png");
}

.icon-wellness:before {
  background-image: url("/img/icon-footer/wellness.png");
}

.icon-honeymoon:before {
  background-image: url("/img/icon-footer/honeymoon.png");
}

.icon-golf:before {
  background-image: url("/img/icon-footer/golf.png");
}

.icon-bussines:before {
  background-image: url("/img/icon-footer/bussines.png");
}

// =====================================================================================
// Estilos para booking en modal
// =====================================================================================
.checkAvailabityModal {
  .modal-header {
    background-color: $blue;
    color: $white;
  }
  .tab-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .booking-interno-inputs {
      margin-bottom: 1rem !important;
    }
    .booking-interno-inputs:nth-child(1),
    .booking-interno-inputs:nth-child(2) {
      padding: 0 3px;
      width: 35%;
    }
    .booking-interno-inputs:nth-child(3){
      width: 30%;
    }

    .booking-interno-inputs:nth-child(4),
    .booking-interno-inputs:nth-child(5),
    .booking-interno-inputs:nth-child(6) {
      width: 33%;
      padding: 0 3px;
    }
  }
  .line-v{
    position: relative;
    &::after{
      content: '';
      border-left: 1px solid #DBDBDB;
      height: 227px;
      width: 1px;
      position: absolute;
      top: 54px;
      left: 0;
    }
  }
}

.modal-booking-room{
  .tab-content{
     .booking-interno-inputs{
      width: 100% !important; 
     }
  }
}
@media screen and (min-width: 510px){
  .modal-booking-room{
    .tab-content{
      .booking-interno-inputs{
        width: 50% !important; 
      }
    }
  }
}


[id|=masinformacionoferta] {
  .modal-body {
    font-size: 12px;
    p {
      font-size: 12px;
      text-align: justify;
      margin: 10px 0px;
      line-height: 1.5;
    }
    .terms {
      font-size: 10px;
      text-align: justify;
      margin: 10px 0px;
      p{
        font-size: 10px;
        text-align: justify;
        margin: 10px 0px;
      }
      ul li{
        font-size: 10px;
      }
    }

  }
}

.checkAvailabityModalRooms {
  .tab-content {
    .booking-interno-inputs:nth-child(4),
    .booking-interno-inputs:nth-child(5),
    .booking-interno-inputs:nth-child(6),
    .booking-interno-inputs:nth-child(7) {
      width: 25%;
      padding: 0 3px;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .checkAvailabityModalRooms {
    .tab-content {
      .booking-interno-inputs:nth-child(1),
      .booking-interno-inputs:nth-child(2),
      .booking-interno-inputs:nth-child(3){
        width: 33%;
      }
      .booking-interno-inputs:nth-child(4),
      .booking-interno-inputs:nth-child(5),
      .booking-interno-inputs:nth-child(6){
          width: 50%;
      }

      .booking-interno-inputs:nth-child(7){
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 510px) and (max-width: 800px) {
  .checkAvailabityModalRooms {
    .tab-content {
      .booking-interno-inputs:nth-child(1),
      .booking-interno-inputs:nth-child(2),
      .booking-interno-inputs:nth-child(3),
      .booking-interno-inputs:nth-child(4),
      .booking-interno-inputs:nth-child(5),
      .booking-interno-inputs:nth-child(6),
      .booking-interno-inputs:nth-child(7){
          width: 50%;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .checkAvailabityModalRooms {
    .tab-content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .booking-interno-inputs {
        margin-bottom: 1rem !important;
        padding: 0 3px;
        width: 50% !important;
      }

      .booking-interno-inputs:nth-child(3),
      .booking-interno-inputs:nth-child(4),
      .booking-interno-inputs:nth-child(5),
      .booking-interno-inputs:nth-child(6),
      .booking-interno-inputs:nth-child(7){
        width: 100% !important;
      }
    }
  }
}

// =====================================================================================
// Box
// =====================================================================================

.box-img {
  background-color: $dark-gray;
  position: relative;
  .desc {
    @extend %e6;
  }
  .title {
    @extend %e7-v1;
  }
  .text {
    color: $white;
  }
}

.box-img-cover {
  background-size: cover;
  background-position: center;
}

@media (min-width: 992px) {
  .box-img {
    .desc {
      &:after {
        display: block;
      }
    }
  }
}

.box-blue {
  background-color: $blue;
  padding-top: 15px;
  padding-bottom: 15px;
  .title {
    @extend %e9;
    @extend %e9-v1;
    margin-bottom: 0;
  }
}

// =====================================================================================
// Buttoms
// =====================================================================================

a.btn {
  color: $white;
}

.button-modal-book {
  background: $orange;
  padding: 0.5rem 2rem;
  color: $white;
}

// =====================================================================================
// Cards
// =====================================================================================

// =====================================================================================
// Card con texto en medio y efecto en hover
// =====================================================================================
.card-overlay {
  transition: all .3s;
  cursor: pointer;
  .card-body-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    .card-body-center {
      width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .card-title {
      color: $white;
      padding-bottom: $card-spacer-y;
      position: relative;
      span{
        display: block;
        font-size: 0.8rem;
      }
      &:after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .view-more {
    display: none;
  }
  &:hover {
    transform: scale(1.08);
    z-index: 3;
    .card-body-overlay {
      background-color: rgba(30, 171, 227, 0.5);
    }
    .view-more {
      display: block;
    }
  }
}

// =====================================================================================
// Tarjeta con titulo azul
// /beach-destinations/cancun/things-to-do-in-cancun
// =====================================================================================
.card-v1 {
  .card-body {
    bottom: 0;
    background-color: $card-body-bg;
    position: absolute;
    width: 100%;
    padding: $card-spacer-y $card-spacer-x;
    .card-title {
      color: $white;
      margin-bottom: 0;
      font-size: 1.07rem;
    }
  }
}

.card-v2 {
  .card-body {
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: $card-spacer-y $card-spacer-x;
    .card-title {
      color: $white;
      text-shadow: 1px 2px 3px $dark-gray;
    }
  }
}

.card-blue {
  .card-header {
    @extend %e9;
    @extend %e9-v1;
    background: $blue;
    color: $white;
    text-align: center;
  }
  .card-body {
    @extend %e6;
    background-color: $light-gray;
    padding: 1.75rem 2.625rem;
    .card-title {
      @extend %e7;
    }
  }
}

// =====================================================================================
// Tarjeta con texto animado al hover
// =====================================================================================
.card-blue-overlay {
  background-color: $blue;
  .card-title {
    color: $white;
  }
  .card-text {
    color: $white;
  }
  .meal-plan {
    color: $white;
    display: block;
    background: #4CA92B;
    padding: 0.2rem 0.5rem;
    margin-right: .5rem;
  }
  .stars {
    color: $orange;
  }
}

@media all and (min-width: 768px) {
  .card-blue-overlay {
    position: relative;
    .card-content {
      position: relative;
    }
    .card-body {
      position: absolute;
      top: 100%;
      transform: translateY(-100px);
      transition: 0.3s ease;
    }
    .card-body-hidden {
      display: none;
    }
  }
  .card-blue-overlay:hover {
    .card-body {
      transform: translateY(-100%);
      background: $blue;
    }
    .card-body-hidden {
      display: initial;
    }
  }
}

// =====================================================================================
// Card utilizado en promociones
// =====================================================================================
.card-specials {
  height: 100%;
  padding-bottom: 1.5rem;
  max-width: 500px;
  @include hover-focus-active {
    outline: none;
  }
  .card-title {
    @extend %e13;
    margin: 5px 0 10px 0;
    padding-bottom: 1rem;
  }
  .card-subtitle {
    @extend %e7;
    margin-bottom: 15px;
  }
  .card-text {
    @extend %e6;
  }
  .view-more {
    text-align: right;
    position: absolute;
    right: $card-spacer-x;
    bottom: $card-spacer-y;
    @include hover {
      color: $middle-gray;
    }
  }
  .icon-offer {
    padding-left: 45px;
    position: relative;
    min-height: 40px;
    &:before {
      content: "";
      background-size: 100%;
      background: url('/img/icon-galeria/icon-offer.svg') no-repeat center;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      min-height: 37px;
      width: 30px;
    }
  }

  .icon-offer-gms:before{
      background: url('/img/icon-galeria/icon-offer-gms.svg') no-repeat center;
  }

}

// =====================================================================================
// Card de hoteles
// =====================================================================================
.card-resort {
    box-shadow: 0px 0px 5px 2px #d0d8db;
    max-width: 400px;

    .card-header {
        padding: 0;
        position: relative;

        .private-offer{
            position: absolute;
            top:0;
            right: 0;
            width: 100%;
            display: flex;
            align-items: stretch;
            
            > div {
                padding: 4px 7px 6px 7px;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;

                &:first-child{
                    background: $blue;
                    color: $white;

                    &::after{
                      content: "";
                      position: absolute;
                      height: 100%;
                      width: 15px;
                      background-image: url(/img/gms/icons/arrow-blue.svg);
                      background-repeat: no-repeat;
                      background-position: right;
                      background-size: cover;
                      top: 0;
                      left: 100%;
                      z-index: 1;
                    }

                    img{
                        width: 18px;
                        vertical-align: text-top;
                        margin-left: 5px;
                        display: initial;
                    }
                }

                &:last-child{
                    flex-grow:1;
                    background: $yellow-b;
                    color: $blue;
                    text-align: center;
                }
            }
        }

        .api-rate{
          //background-color: $label-red;
          position: absolute;
          padding: 5px 8px 7px;
          left: 0;
          line-height: 1;
          top: 12px;

          font-family: 'galano-semibold';
          font-size: 20px;
          color: $white;

          &::after{
            content: "";
            //height: 100%;
            left: 100%;
            top: 0;
            position: absolute;
            //background-color: $label-red;
            border-style: solid;
            //border-color: transparent transparent transparent $label-red;
            border-width: 16px 0 16px 15px;
          }

          span:last-child{
            font-size: 12px;
          }

          &.label-offer-low{
            background-color: $label-low;
            &::after{
              border-color: transparent transparent transparent $label-low;
            }
          }

          &.label-offer-medium{
            background-color: $label-medium;
            &::after{
              border-color: transparent transparent transparent $label-medium;
            }
          }

          &.label-offer-high{
            background-color: $label-high;
            &::after{
              border-color: transparent transparent transparent $label-high;
            }
          }
        }


        .icon-small {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            width: 30px;
            height: 30px;
            display: block;
        }
    }

    .card-body {
        padding: .5rem 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        ul{
            padding-left: 30px;
            margin-bottom: 0;
        }

        .card-text {
            @extend %e6;
        }

        .private-offer-special-discount{
            display: block;
            font-size: 16px;
            font-weight: 700;
            color: #0C2D63;
            padding-top: 2px;
            padding-bottom:2px;
        }
    }


  .div-title {
    border-bottom: 1px solid $light-gray;
    flex: inherit;
  }
  .card-title {
    @extend %e13;
    text-transform: capitalize !important;
    display: block;
  }
  .card-subtitle {
    font-size: 0.9rem;
  }
  .estrellas {
    color: $yellow;
    text-align: right;
    img{
      display:inline;
    }
  }
  .meal-plan {
    font-weight: bold !important;
    color: $orange !important;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    @include hover-focus-active {
      font-weight: bold !important;
      color: $orange !important;
      text-transform: uppercase !important;
      margin-bottom: 0.2rem !important;
    }
  }
  .room-offer > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .view-more {
    position: relative !important;
  }
  .travel-window {
    margin-bottom: 0;
    text-align: left;

    label {
      font-weight: bold;
    }

  }
  .travel-window-small{
    font-family: 'galano-semibold';
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #6C757D;
    line-height: 14px;
  }

  .room-promotion {
    p {
      font-weight: bold !important;
      text-align: center;
      font-size: 1.3rem;

      &.rate-from{
        font-size: 12px;
        margin-bottom: 0px;
        font-family: 'galano-semibold';
        font-weight: 600;
        color: #6C757D;

        span{
          text-decoration: line-through;
        }
        
      }

      &.rate{
        font-family: 'galano-semibold';
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 0px;

        &.rate-label{
          margin-bottom: 24px;
          margin-top: 24px;
        }
      }


      &.rate-description{
        font-family: 'galano-regular';
        font-size: 12px;
        margin-bottom: 0px;
      }

    }
  }
  .av-btn-rates {
    background-color: $orange;
    border-color: $orange;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

// =====================================================================================
// Navs Tabs
// =====================================================================================
.nav-pills {
  .nav-link {
    background-color: $nav-pills-link-bg;
    color: $nav-pills-link-color;
  }
}

// =====================================================================================
// Breadcoms
// =====================================================================================
.sec-breadcrumb {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

// =====================================================================================
// Slick Slider
// =====================================================================================

// =====================================================================================
// Slider de destinos
// =====================================================================================
.slick {
  .slick-track {
    display: flex;
  }
  .slick-prev {
    left: 25px;
    z-index: 2;
  }
  .slick-next {
    right: 25px;
  }
  .slick-slide {
    @extend %e1;
    background-color: $booking-blue;
    cursor: pointer;
    height: inherit;
    position: relative;
    color: $white;
    transition: 1s ease;
    .span {
      font-size: 1rem;
      font-weight: 300;
    }
    &:hover {
      background-color: $sky-blue;
    }
    &:focus {
      outline: none;
    }
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background: $white;
      right: 0;
      top: 0;
    }
    img {
      height: 30px;
    }

    &.slick-current {
      @extend %e2;
      background-color: $sky-blue;
      background-size: cover;
    }

  }
}

.slick-content {
  .description-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
      height: 100%;
      width: 100%;
    }

  }

  .description-text {
    background-color: $dark-gray;
    position: relative;
    padding: 2rem;
    .title {
      @extend %e7-v1;
    }
    .text,
    p {
      @extend %e6;
      color: $white;
    }
  }
}

// =====================================================================================
// Utilizado en
//    Detalle del resort
// =====================================================================================
.slider-resort {
  .item {
    position: relative;
    background-size: cover;
    background-position: center;
    .slider-body-center {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .slider-body {
        position: relative;
        top: 100px;
        text-align: center;
      }
    }
    .slider-title {
      font-weight: bold;
    }
    .slider-title,
    .slider-subtitle,
    .slider-start {
      color: $white;
      margin-bottom: 1rem;
      text-shadow: 3px 1px 6px $blue;
    }
    .slider-start img {
      display: inline;
    }

  }
}

// =====================================================================================
// Slider del home
// =====================================================================================
.slick-default,.slick-home {
  img {
    width: 100%;
  }
  .img-text {
    text-align: right;
    img {
      display: inline-block;
      width: auto;
      max-height: 200px;
    }
  }
  .slick-arrow {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    z-index: 2;
    &:before {
      content: "";
    }
  }
  .slick-prev {
    left: 25px;
    background-image: url("/img/flecha-izquierda-gris.png");
  }
  .slick-next {
    right: 25px;
    background-image: url("/img/flecha-derecha-gris.png");
  }
}

// =====================================================================================
// Slider de especials y hoteles
//
// =====================================================================================
.slick-specials {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $light-gray;
  .slick-slider {
    .slick-track {
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;
      .slick-slide {
        height: inherit;
        /* background-color: $white; */
      }
    }
  }
  .slick-arrow {
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
    z-index: 2;
    &.slick-disabled{
      opacity: 0.2;
    }

    &:before {
      content: "";
    }
  }
  .slick-prev {
    left: 0px;
    background-image: url("/img/flecha-izquierda-gris.png");
  }
  .slick-next {
    right: 0px;
    background-image: url("/img/flecha-derecha-gris.png");
  }
  .item {
    @include hover-focus-active {
      outline: none;
    }
    .card {
      border: 1px solid $light-gray;
    }

  }
}

@media all and (min-width: 576px) {
  .slick-specials {
    .slick-list {
      margin: 0 30px;
    }
    .item {
      margin: 0 .5rem;
    }
  }
}

// =====================================================================================
// Slider nav girs
// /vacation-experiences/caribbean-family-vacations
// =====================================================================================
.slider-nav-gray {
  .slick-prev {
    left: 25px;
    z-index: 2;
    &:before {
      opacity: 1;
    }
  }
  .slick-next {
    right: 25px;
    z-index: 2;
  }
  .slick-slide {
    @extend %e1;
    text-align: center;
    background: $light-gray;
    color: $dark-gray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      width: 2px;
      background: $white;
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
    }
  }
  .slick-slide.slick-current {
    background: $blue;
    color: $white;
    @include hover-focus-active {
      outline: none;
    }
  }
}

.slider-nav-gray-img {
  .slick-track {
    display: flex;
  }
  .slick-slide {
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    h3 {
      @extend %e1;
      color: $dark-gray;
    }
    img {
      height: 35px;
    }
  }
}

// =====================================================================================
// Slider pill gray
// =====================================================================================
.slider-pill-gray {
  background: $light-gray;
  .tab-nav {
    padding: 1.5rem;
    .nav-link {
      padding-left: 0;
      border-bottom: 1px solid $dark-gray;
      color: $dark-gray;
      cursor: pointer;
      @include hover-focus-active {
        outline: none;
      }
    }
    .nav-link.active {
      color: $blue;
    }
  }
  .tab-content {
    .tab-pane .content {
      bottom: 0;
      z-index: 2;
      padding: 1.5rem;
      p {
        color: $black-gray;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .slider-pill-gray {
    .tab-content {
      .tab-pane::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.865984) 5%, rgba(0, 0, 0, 0.465424) 30%, transparent 45%);
      }
      .tab-pane .content {
        position: absolute;
        p {
          color: $white;
        }
      }
    }
  }
}

// =====================================================================================
// Mosaic
// =====================================================================================

// =====================================================================================
// Mosico (2,1),(1,1),(1,1) -  (2,1), (2,1), (1,1)
// =====================================================================================
.mosaic {
  margin-bottom: 1rem;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-y: hidden;
    height: 300px;
    margin-bottom: 5px;
    .info {
      position: absolute;
      top: 100%;
      width: 100%;
      transform: translateY(-70px);
      color: $white;
      padding: 2rem;
      transition: all 0.3s ease-in-out;
      text-shadow: 2px 2px 2px $blue;
      .title {
        color: $white;
        font-weight: bold;
        font-size: 1.3rem;
      }
      .text {
        color: $white;
      }
    }
    &:hover {
      .info {
        transform: translateY(-100%);
        background-color: $blue;
      }
    }
  }
}

@media all and(min-width: 768px) {
  .mosaic {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    .item {
      height: auto;
    }
  }
  .mosaic-first > div:first-child {
    grid-row: span 2;
    grid-column: span 1 !important;
    height: 500px !important;
  }
  .mosaic-last > div:nth-child(2) {
    grid-row: span 2;
    height: 500px !important;

  }
  .mosaic-last > div:first-child {
    grid-column: span 1 !important;
    min-height: 240px;
    height: auto !important;
  }
}

.mosaic-resort {
  > div {
    margin-bottom: .5rem;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media all and(min-width: 768px) {
  .mosaic-resort div {
    margin-bottom: 0;
  }
  .mosaic-resort-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;
    > div {
      height: 250px;
      a {
        height: 100%;
        .card {
          height: 100%;
          background-size: cover;
          background-position: center;
        }
      }
      img {
        display: none;
      }
    }
  }

  .mosaic-resort-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;
    > div {
      height: 250px;
      a {
        height: 100%;
        .card {
          height: 100%;
          background-size: cover;
          background-position: center;
        }
      }
      img {
        display: none;
      }
    }
  }

  .mosaic-resort-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    > div {
      height: 250px;
      a {
        height: 100%;
        .card {
          height: 100%;
          background-size: cover;
          background-position: center;
        }
      }
      img {
        display: none;
      }
    }
    > div:nth-child(1),
    > div:nth-child(2) {
      grid-row: span 2;
      height: 100%;
    }
  }
}

// =====================================================================================
// Deals Hotels
// Sub interna de ofertas
// =====================================================================================
.deals-hotels,
.sub-inter-special {
  .container {
    max-width: 1400px;
  }
}

@media all and (max-width: 768px) {
  .card-resort {
    margin: auto;
  }
  .checkAvailabityModal {
    .line-v{
      &::after{
        border-left: none !important;
        border-top: 1px solid gray;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .deals-hotels {
    .card-resort {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

// =====================================================================================
// Agents Royal
// Contact Form
// =====================================================================================

.agentes label {
  color: #262b2c;
  justify-content: left;
  margin-top: 10px;
}

.agentes input {
  width: 100% !important;
}

.agentes-input label {
  margin: 5px 0;
  text-align: left;
  justify-content: flex-start;
}

// =====================================================================================
// Overlay 
// =====================================================================================

.overlay{
    bottom: 0;
    display: block;
    font-size: 14px;
    left: 0;
    position: fixed;
    padding: 1.5rem;
    z-index: 100;
    transition: all 0.5s;
    transform: translateY(0);
    .alert{
        margin: 0;
    }

    p{
        font-size: 12px;
        line-height: 1.2rem;
        margin-bottom: 2px;
    }
}

.consent-hide{
    transform: translateY(110%);
}

@media (max-width: 765px) {
    .overlay{
        padding: 0;
    }
}
// =====================================================================================
// Webcams
// =====================================================================================
.img-web{
  position:relative;
  background-size:cover;
  height: 250px;
  div:nth-of-type(1){
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #0c2d6380;
    height: 59px;
    -webkit-text-stroke-color: #0f49a980;
    -webkit-text-stroke-width: medium;
    font-size: 14px;
  }
}

// =====================================================================================
// Ancor empty
// =====================================================================================
.anchor-info{
  display: none;
}

.checkin-link{
  font-size: .92rem !important;
}