.header-gms img{
    width: 100%;
}

.gms{
    .gms-main{
        background:  linear-gradient(180deg, rgba(30, 171, 227, 0.3) 0%, rgba(196, 196, 196, 0) 30%);
        padding-top: 35px;

        .background-left{
            background: #ffffff;
            padding: 38px 20px;
            text-align: center;
            box-shadow: 10px 10px 20px rgba(30, 171, 227, 0.2);

            .h2{
                font-family: "galano-semibold", serif ;
                font-size: 24px;
                line-height: 120%;
                text-align: center;
                text-transform: uppercase;
                color: $blue;
            }

            .h3{
                font-family: "galano-medium", serif;
                font-size: 14px;
                text-transform: none;
                color: rgba(38, 43, 44, 0.5);
                margin-bottom: 1rem;
            }

            .by-email{
                font-family: "galano-medium", serif;
                font-size: 14px;
                color: #0C2D63;
            }

            .btn-facebook,
            .btn-google{
                margin-bottom: 7px;
                width: 100%;
                text-align: right;
                position: relative;

                &:before{
                    content: " ";
                    height: 30px;
                    width: 30px;
                    top: 0;
                    left: 5px;
                    position: absolute;
                    margin: auto;
                    bottom: 0;
                }
            }

            .btn-facebook{
                background:  #3C5A99;
                color: #fff;

                &:before{
                    background: url("/img/gms/facebook.png");
                }
            }

            .btn-google{
                color: $blue;
                background: #fff;
                border: 0.5px solid $blue;

                &:before{
                    background: url("/img/gms/google.png");
                }
            }

            .field{
                width: 100%;
                margin-top: 15px;
                margin-bottom: 10px;
                font-size: 16px;
                transition: 0.6s;
                border: none;
                border-bottom: 1px solid #C4C4C4;
                background-color: transparent;
                &:focus {
                    outline: none;
                    border-bottom: 1px solid #1EABE3;
                }
            }

            .b-azul{
                padding:9px 80px 10px 80px;
            }

            .label-forgot-password{
                font-family: "galano-medium", serif;
                font-size: 12px;
                color: #5B5B5B;

                a{
                    color: #5B5B5B;
                    text-decoration: underline;
                }
            }
            .log-in-member{
                background-color:  rgba(30, 171, 227, 0.1);
                padding: 15px 20px;
                font-family: "galano", serif;
                font-size: 16px;
                color: #000000;

                span{
                    font-family: "galano-medium", serif;
                    color: #1eabe3;
                }

                a{
                    font-family: "galano-medium", serif;
                    color: #0C2D63;
                    text-decoration: underline;
                    font-size: 16px;
                    text-transform: lowercase;
                }
            }
            .ajuste-field {
                height: 30px;
            }
        }

        .card-inf{
            .title{
                font-family: "galano-medium", serif;
                font-size: 24px;
                color: #0C2D63;

                .strong{
                    font-size: 36px;
                    color: #EA5E00;
                }
            }
            p{
                font-family: "galano-medium", serif;
                color: #0C2D63;
            }
            ul{
                list-style-image: url("/img/gms/icons/done.svg");
                padding-left: 25px;
            }

            a{
                display: block;
                margin: auto;
                background-color: $sky-blue;
                color: white;
                font-family: "galano-medium", serif;
                font-size: 14px;
                padding: 6px 13px 10px 13px;
            }
            // .icon-mark-blue:nth-of-type(1){
            //     margin-top: 30px;
            //     margin-bottom: 12px;
            // }
        
            // .title-item{
            //     span{
            //         b{
            //             color:#1eabe3 !important;
            //         }
            //     }
            // }
            
            // .icon-mark-blue{
            //     display: flex;
            //     &:before{
            //         content: '';
            //         background-image: url("/img/icons-resorts/icons-blue-mark.png");
            //         background-repeat: no-repeat;
            //         position: relative;
            //         top:6px;
            //         margin-right: 20px;
            //         width: 30px;
            //         height: 24px;
            //     }
            // }
            // .icon-check-blue{
            //     display: block;
            //     font-weight: 500; 
            //     &:before{
            //         content: '';
            //         display: inline-block;
            //         background-image: url("/img/icons-resorts/icons-blue-check.png");
            //         position: relative;
            //         top:6px;
            //         margin-right: 20px;
            //         width: 24px;
            //         height: 24px;
            //     }
            // }
            // .info-subscribe{
            //     color:#000;
            //     margin-top: 40px;
            //     font-size: 18px;
            // }
        }


    }

    p{
        font-weight: 400;
        font-size: 1rem;
    }
    .nav-tabs{
        border-bottom: none;
    }

    label {
        margin-bottom: 0px;
    }


    .fyp{
        border: 0;
        background-color: #fff;
        font-size: 11px;
        outline: none;
        color: #C4C4C4;
        &:focus{
            color: #1EABE3;
        }
    }
    .card-inf{
        text-align: left;
        h2{
            font-weight: 600;
            line-height: 120%;
            font-size: 32px;
            text-align: left;
            color: rgba(12, 45, 99, 0.8);
        }
        p{
            color: #6C757D;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: left;
        }
    }
    .clear {
        padding-top: 40px;
    }
    .clear-3 {
        padding-top: 120px;
    }

    .menu-derecho{
        background: #fff;
        padding-bottom: 20px;
        align-content: line;
        ul{
            list-style: none;
            li.active {
                border-bottom: 2px solid $sky-blue;
            }
        }
    }

    .menu-text{
        font-size: 16px;
        color: #000;
        background: #fff;
        border: none;
        font-weight: 800;
        line-height: 2.3rem;
        list-style: none;
        &:hover, &:active, &:focus, &:active:focus{
            color: #1EABE3;
            text-decoration: underline;
        }

        li{
            padding-top: 2rem;
        }
    }

    .form-personal{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.43rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
    }

    .text-form{
        padding: 0.5rem;
        text-align: left;
        font-weight: 700;
    }

    .subtitule{
        text-align: left;
        font-weight: 700;
        padding: none;
        margin: none;
        font-size: 20px;
    }

    .border-subtitule{
        font-size: 20px;
        width: auto;
        height: 20px;
        background-color: rgba(196, 196, 196, 0) 30%;

    }

    .icon-dashboard{
        height: 100%;
    }

    hr.blue {
        border: none;
        border-top: .3rem solid #1EABE3;
    }
    hr.yellow {
        border: none;
        border-top: .3rem solid #FBBF4C;
    }

    .section-destinatios{
        padding: none;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    figure {
        height: 160px;
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: hidden;
    }

    .section-discounts img {
        padding: none;
        height: 260px;
        padding: 0px;
        margin: 0px;
        float: left;
        overflow: hidden;
    }

    /* Zoom Out #1 */
    .hover03 figure img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .hover03 figure:hover img {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    /* boton*/
    .b-azul,
    .b-azul:hover{
        text-transform: initial;
        font-size: 15px;
        background-color: $sky-blue;
        color: #fff !important;
        line-height: 1.5rem;

    }

    /* placeholder style*/

    :focus::-webkit-input-placeholder { /* WebKit browsers */
            color: #ced4da;
        }
    :focus:-moz-placeholder { /* Firefox 18- */ color: #ced4da; } 
    :focus::-moz-placeholder { /* Firefox 19+ */ color: #ced4da; } 
    :focus:-ms-input-placeholder { color: #ced4da; }

    /*Tabs de reservas */

    .nav-container {
        text-align: center;
        margin-left: 8%;
        margin-bottom: 60px;
    }
    .nav-container ul li {
        list-style: none;
        float: left;
        padding-top: 20px;
    }

    .nav-container ul li a{
        text-decoration: none;
        color: $blue;
        padding: 8px 57px;
        margin: 5px;
        font-size: 16px;
        background-color: #F8F8F8;    
    }

    .nav-container ul li a:hover,
    .nav-container ul li a.active {
        background:  $blue;
        color: #fff;
        font-weight: 500;
    }

    .hotel-booking .row {
        margin: 0;
    }

    .hotel-booking h4 {
        text-align: left;
        color: $blue;
        font-size: 18px;
    }

    .bk-booking {
        height: 4.5rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        vertical-align: middle;
        line-height: normal;
    }
    
    .img-hotel-booking {
        height: 13rem;
    }
    .hotel-booking h5 {
        text-align: left;
        color: $blue;
        font-size: 16px;
    }

    .form-booking label {
        text-align: left;
        color: $blue;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        display: block;
        padding-left: 1rem;
        margin-top: 10px;
    }

    .form-booking p {
        padding-left: 1rem;
    }

    hr.strongblue {
        border: none;
        padding-left: 1rem;
        border-top: 0.07rem solid #b1e2f6;
    }

    /*
    .btn-reservation {
        background:  $blue;
        color: #fff;
        text-align: center;
        font-size: 16px;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 50%;
        height: 39px;
        border:0;
        margin-top: 1rem;
        float: center;
        transition: all 0.5s;
        cursor: pointer;
        vertical-align: center;
    }
    */
}

.modal-gms{
    font-family: "galano-medium", serif;

    #gms-countries-modal{
        width: 100%;
    }
    .select2{
        width: 100%;
        margin-bottom: 5px;
        &:focus{
            outline: none;
        }
    }
    .select2-container--default .select2-selection--single{
        background-color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #C4C4C4;

        color: #5B5B5B;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered{
        color: #5B5B5B;
    }

    .img-pop{
        display: none;
    }
    .modal-content{
        border-radius: 0px;
    }
    .title{
        color: #0C2D63;
        font-size: 24px;
        text-align: left;
        // text-transform: uppercase;
        // font-weight: bold;
        .strong{
            color: #EA5E00;
            font-size: 36px;
        }
    }
    // .normal{
    //     color:#000;
    // }
    .text-light{
        color:#1eabe3 !important;
    }
    // .disclaimer{
    //     font-weight: 500;
    //     font-size: 12px;
    //     color: #939595;
    // }
    p{
        color: #0C2D63;
    }
    ul{
        // list-style-image: url("/img/gms/icons/done.svg");
        // padding-left: 25px;
        padding-left: 0;
        li{
            display: flex;
            font-weight: 600;
            list-style: none;
            list-style-type: none;
        }
        li:nth-of-type(1){
            &:before{
                content:'';
                background-image: url("/img/icons-resorts/icons-blue-mark.png");
                background-repeat: no-repeat;
                position: relative;
                padding-bottom: 30px;
                margin-right: 15px;
                width: 24px;
                height: 24px;
                top:7px;
            }
        }
        li:nth-of-type(2){
            &:before{
                content:'';
                background-image: url("/img/icons-resorts/icons-blue-check.png");
                background-repeat: no-repeat;
                position: relative;
                margin-right: 15px;
                width: 40px;
                height: 24px;
                top:7px;
            }
        }
    }

    .modal-body-gray{
        background-color: #DADCDF;
    }

    .register-email{
        // margin-top:-30px;
        .log-in{
            color: #0C2D63;
        }
        .field{
            width: 100%;
            margin-bottom: 15px;
            background: transparent;
            border-top:0px;
            border-right: 0px;
            border-left: 0px;
            border-color: #C4C4C4;
            padding-left: 5px;
            color: #5B5B5B;

            &:focus{
                outline: 0;
            }
        }
        .b-azul{
            background-color: #1EABE3;
            color: #ffffff;
            margin-right: 10px;
            padding: 2px 30px 6px 30px;
        }
        .fyp{
            color: #6C757D;
        }
        .terms{
            font-size: 12px;
            margin-top: 1rem;
        }
    }
    /*START BLACK-FRIDAY AND CBW*/
    .text-offers{
        display: none;
        position: absolute;
        text-align: center;
        padding-left: 10px;
        margin-left: 80px;
        z-index: 1;
        width: 350px;
        top: 25%;

        p{
            text-align: center;
            font-weight: 400;
            color: #000 !important;
            margin-bottom: -7px;
        }
        h2{
            font-family: 'galano-bold';
            text-align: center;
            text-transform: capitalize;
            font-size: 48px;
            line-height: 50px;
            color: #000 !important;
        }
    }
    /*END BLACK FRIDAY CBW*/
    /*
    .modal-lg{
        max-width: 930px;
    }
    .modal-content{
        background-color:transparent;
        border: 0;

        .container-fluid{
            position: relative;
        }
        .close{
            position: absolute;
            right: 30px;
            top: 0px;
            z-index: 9;
            color: #ffff;
            font-size: 30px;
        }

        .img-modal{
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .bag-blue{
            //background-color: $blue;
            color: $white;
            padding: 60px 20px;
            //border-radius: 0 15px 15px 0;
        }
        .h3{
            color: $white;
            text-align: center;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 30px;
            text-transform: initial;

            label{
                color: #FBBF4C;
            }
        }

        .btn-facebook,
        .btn-google{
            display: block;
            width: 100%;
            text-align: right;
            margin-bottom: 13px;
            position: relative;
            font-size: 14px;
            padding: 10px 15px;

            &:before{
                content: " ";
                //
                height: 30px;
                width: 30px;
                top: 0;
                left: 5px;
                position: absolute;
                margin: auto;
                bottom: 0;
            }
        }

        .btn-facebook{
            background-color: #3C5A99;
            color: $white;
            
            &:before{
                background: url(/img/gms/facebook.png);
            }
        }

        .btn-google{
            background-color: #FDFEFF;  
            color: $blue;

            &:before{
                background: url(/img/gms/google.png);
            }
        }

        .field{
            width: 100%;
            margin-bottom: 15px;
            background: transparent;
            border-top:0px;
            border-right: 0px;
            border-left: 0px;
            border-color: #C2CAD8;
            padding-left: 5px;
            color: #C2CAD8;

            &:focus{
                outline: 0;
            }
        }

        .b-azul{
            background: $sky-blue;
            color: $white;
            font-size: 15px;
            margin: auto;
            margin-top: 20px;
            text-align: center;
            width: 80%;
            max-width: 200px;
        }

        .fyp,
        .terms{
            color: $white;
            display: block;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
        }

        .terms{
            margin-top: 20px;
        }
    }*/
}
@media screen and (min-width: 1130px){
    .modal-gms {
        .modal-content {
            margin: auto;
            max-width: 900px;
        }
    }
}

@media screen and (min-width: 768px){
    .modal-gms{
        .modal-content{
            overflow: hidden;
        }
        .img-pop{
            display: block;
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 1;
            right: 48%;
        }
        .modal-dialog{
            max-width: 80%;
        }
        .text-offers{
            display: block;
        }
    }
    /*
     .modal-gms{
        .modal-content{
            .bag-blue{
                border-radius: 0 15px 15px 0;
            }
        }
    }
     */
}


@media screen and (max-width:768px) {
      /* basic */
    div.menu-derecho {
        display: none;
      }

    .gms{
        .icon-dashboard {
            width: 80%;
            //float: center;
            padding: 0;
            padding-bottom: 1.5rem;
        }

        figure.div {
            //float: center;
        }
        .section-discounts img {
            width: auto;
        }

        .card-inf{
            text-align: center;
            //float: center;
            margin-top: 20px;
            margin-right: 20px;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .gms {
        .icon-dashboard {
        width: 50%;
        float: none;
        margin-top: -40px;
        }
    }
}

@media screen and (max-width: 430px) {
    /*mobile*/
    .gms {
        .btn-reservation{
            height: auto;
            padding-bottom: 10px;
        }
    .icon-dashboard {
        width: 60%;
        float: none;
        margin: 0;
        margin-top: -40px;

    }

    }
}
