.slider-home {
    margin-bottom: -4px;

    .item {
        position:            relative;
        background-position: center;
        background-size:     cover;

        > a {
            display: inline-block;
            width:   100%;
            height:  100%;
        }

        .text1 {
            font-size:   20.542px;
            line-height: 2.434;
            display:     block;
            transform:   matrix(1.60696509644851, 0, 0, 1.60588484161705, 0, 0);
            text-align:  center;
            color:       rgb(255, 255, 255);
            text-shadow: 2.598px 1.5px 2.85px rgba(16, 4, 0, 0.25);
        }

        .text2 {
            font-size:   36px;
            font-weight: bold;
            line-height: 1.386;
            display:     block;
            transform:   matrix(1.60696509644851, 0, 0, 1.60588484161705, 0, 0);
            color:       rgb(255, 255, 255);
            text-shadow: 2.598px 1.5px 2.85px rgba(16, 4, 0, 0.25);
        }

        .text3 {
            font-size:   20.542px;
            line-height: 2.434;
            display:     block;
            transform:   matrix(1.60696509644851, 0, 0, 1.60588484161705, 0, 0);
            text-align:  center;
            color:       rgb(255, 255, 255);
            text-shadow: 2.598px 1.5px 2.85px rgba(16, 4, 0, 0.25);
        }

        .conten-center-right {
            margin-top: 10%;

            .section .img-text {
                text-align: center;
            }

            .timer {
                /*background-color: $white;*/
                padding: 0 2.8125rem 0 2.8125rem;
                color:   $dark-gray;

                > div {
                    width:            600px;
                    margin:           auto;
                    background-color: $white;
                }

                .label {
                    font-size:      .875rem;
                    letter-spacing: .125rem;
                    text-transform: uppercase;
                }

                .time {
                    font-size:      1.5rem;
                    min-width:      3rem;
                    text-align:     center;
                    text-transform: uppercase;
                }
            }

            .btn-book {
                position:      relative;
                z-index:       3;
                width:         600px;
                margin:        auto;
                margin-bottom: 3rem;

                a {
                    line-height:    1rem;
                    padding-top:    0.6rem;
                    padding-bottom: 0.6rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .slider-home {
        .item {
            height: 500px;
        }
    }
}

.home-list {
    color:            $white;
    background-color: $sky-blue;

    .nav-pills {
        .nav-link {
            padding:          1.5rem 1rem;
            color:            $white;
            background-color: $sky-blue;
        }
    }

    .nav-item {
        position: relative;

        a {
            font-weight: bold;
            text-align:  center;
            color:       white;

            img {
                display: initial;
            }
        }
    }
}

.popover-home {
    max-width:        98%;
    margin-top:       -0.2rem;
    margin-bottom:    -0.2rem;
    border:           none;
    background-color: $sky-blue;

    p {
        color: $white;
    }

    a {
        color: $blue;
    }
}

@media (min-width: 768px) {
    .popover-home {
        max-width: 33%;
    }
}

#home-beach-destination {
    .slick-track {
        padding-top:    1rem;
        padding-bottom: 1rem;
    }
}

#home-beach-resorts {

    .grid-item {
        display: -webkit-box;
        width:   calc(100% - 10px);
        margin:  5px;
    }

    .movil-size-resort,
    .franja-color {
        display:        block;
        width:          50%;
        padding-bottom: 1rem;
    }

    .franja-color {
        background-color: #fff;
    }

    .color-bar.col,
    .franja-color {
        overflow: hidden;
    }

    .franja-color .color-bar > div,
    .txt-light {
        height:         auto !important;
        margin-bottom:  0;
        padding-bottom: 0 !important;
        color:          $black-gray;
    }

    .franja-color {
        .h3 {
            margin-bottom: 0;
        }

        .bold {
            font-weight: bold;
        }

        .estrellas {
            position:       unset;
            right:          10px;
            flex:           0 0 100%;
            max-width:      100%;
            padding-bottom: 0;
            border-bottom:  solid 1px #8e8e8e;

            input {
                display: none;
            }

            label {
                line-height: 1;
                color:       $orange;
            }
        }

        .yellow-square {
            display:          inline-block;
            flex:             0 0 50%;
            width:            100%;
            height:           auto;
            background-color: white;

            span, .text-uppercase {
                text-align: center;
                color:      $sky-blue;
            }
        }

        .btn-primary {
            border-color:     $orange;
            background-color: $orange;
        }
    }

    .opacity {
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 70%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.8) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 70%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.8) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 70%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.8) 100%);
        filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
    }
}

@media all and (max-width: 768px) {
    #home-beach-resorts {
        width:            100%;
        max-width:        100%;
        padding:          2rem 1rem 0 1rem;
        background-color: $light-gray;
    }
}

@media all and (min-width: 768px) {
    #home-beach-resorts {
        .grid-item {
            position:   relative;
            display:    initial;
            float:      left;
            box-sizing: border-box;
            height:     230px;
            margin:     5px 5px 5px 5px;
        }

        .grid-item-width2 {
            width: 63%;
        }

        .grid-item-width3 {
            width: 34%;
        }

        .grid-item-height3 {
            height: 180px;
        }

        .grid-item-height4 {
            height: 370px;
        }

        .col {
            flex-basis: 0;
            flex-grow:  1;
            max-width:  100%;
        }

        .movil-size-resort,
        .franja-color {
            height: 230px
        }

        .img-resort {
            position:            relative;
            width:               100%;
            height:              290px;
            background-repeat:   no-repeat;
            background-position: 50%;
            background-size:     cover;
        }

        .img-resort-medium {
            position:            relative;
            width:               auto;
            height:              290px;
            background-repeat:   no-repeat;
            background-position: 50%;
            background-size:     cover;
        }

        .img-resort-small {
            position:            relative;
            width:               100%;
            height:              100px;
            background-repeat:   no-repeat;
            background-position: 50%;
            background-size:     cover;
        }

        .franja-color .color-bar.col {
            overflow:         hidden;
            height:           80px;
            background-color: #0c2d63;
        }

        .franja-color {
            display: flex;
            width:   100%;
            height:  80px;

            .h3 > a,
            label {
                color: $white;
            }

            .estrellas {
                position: absolute;
                right:    10px;
                bottom:   80px;

                label {
                    color: $white;
                }
            }

            .yellow-square {
                float:            left;
                width:            100px;
                max-width:        100%;
                height:           80px;
                color:            $white;
                background-color: $orange;

                span {
                    font-size: 1.5rem;
                    color:     $white;
                }

                .text-uppercase {
                    font-size:  .7rem;
                    text-align: center;
                    color:      $white;
                }

            }
        }

        .btn-primary {
            padding:    0;
            border:     none;
            background: none;
        }

    }
}

#instafeed {
    a {
        display: block;
        cursor:  pointer;
    }

    div:hover:after {
        position:       absolute;
        top:            0;
        left:           0;
        width:          100%;
        height:         100%;
        content:        "";
        pointer-events: none;
        background:     rgba(1, 1, 1, 0.3);
    }

    div:nth-last-child(-n+3) {
        display: none;
    }

}

@media all and(min-width: 768px) {
    #instafeed {
        div:nth-child(4) {
            display: block;
        }
    }
}

@media all and(min-width: 960px) {
    #instafeed {
        div:nth-child(5),
        div:nth-child(6) {
            display: block;
        }
    }
}

#info-booking-section {
    .accordion-toggle {
        position: relative;
        display:  block;

        .title {
            position:      relative;
            width:         fit-content;
            padding-right: 20px;

            &:hover {
                color: $sky-blue;
            }

            &::after {
                position:            absolute;
                top:                 calc(50% - 5px);
                right:               0;
                width:               10px;
                height:              10px;
                content:             "";
                transition:          all .3s;
                transform:           rotateZ(-90deg);
                transform-origin:    center;
                pointer-events:      none;
                background-image:    url("/img/flecha-derecha-gris.png");
                background-repeat:   no-repeat;
                background-position: center;
                background-size:     contain;

            }
        }

        &.collapsed .title::after {
            transform: rotateZ(0deg);
        }
    }
}

.mosaic-destinations {
    .item {
        display:       grid;
        min-height:    150px;
        margin-bottom: 1rem;

        .card {
            background-position: center;
            background-size:     cover;
        }
    }
}

@media all and (min-width: 800px) {

    .mosaic-destinations {
        display:               grid;
        grid-gap:              1rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .item {
            display:       grid;
            min-height:    150px;
            margin-bottom: 0rem;

            .card {
                background-position: center;
                background-size:     cover;
            }
        }

        & > div:nth-child(1) {
            order:       3;
            grid-column: span 2;
            grid-row:    span 2;
        }

        & > div:nth-child(2) {
            order: 1;
        }

        & > div:nth-child(3) {
            order:       2;
            grid-column: span 2;
        }

        & > div:nth-child(4) {
            order:       4;
            grid-column: span 2;
            grid-row:    span 2;
        }

        & > div:nth-child(5) {
            order: 5;
        }

        & > div:nth-child(6) {
            order:       6;
            grid-column: span 2;
        }

        & > div:nth-child(7) {
            order: 7;
        }
    }
}

.home {


    &-sa {
        margin-bottom:    58px;
        background-color: $blue;

        .booking-interno-container{
            box-shadow: 0 4px 30px 0 #071936;


            .lb_best_deal{
                display: none !important;
            }
        }



        .title {
            font-family:    galano-semibold;
            font-size:      18px;
            line-height:    135%;
            text-transform: initial;
            color:          #fff;
        }

        .items {
            padding-top:    10px;
            padding-bottom: 10px;
        }

        .item {
            display:     flex;
            align-items: stretch;
            padding:     16px 0px;

            p {
                margin: 0;
                color:  #fff;
            }

            .num {
                font-family: galano-semibold;
                font-size:   40px;
                flex-shrink: 0;
                width:       60px;
            }

            .info {
                .title {
                    font-family:   galano-semibold;
                    font-size:     24px;
                    line-height:   32px;
                    margin-bottom: 10px;
                    text-align:    left;
                    color:         $yellow;
                }

                .text {
                    font-family: galano-medium;
                    font-size:   15px;
                    line-height: 25px;
                    text-align:  left;
                    color:       #fff;
                }
            }
        }
    }

    &-sb {
        margin-bottom: 74px;

        .title {
            font-family:    galano-semibold;
            font-size:      24px;
            line-height:    145.5%;
            margin-bottom:  14px;
            text-align:     center;
            text-transform: capitalize;
            color:          black;
        }

        img {
            width:         100%;
            margin-bottom: 27px;
        }

        .text {
            font-family: galano-medium;
            font-size:   15px;
            line-height: 25px;

            span {
                color: $sky-blue;
            }
        }

        .truncate {
            display:            -webkit-box;
            overflow:           hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        .hidden {
            display: none;
        }

        .desk {
            display: none;

            &.show {
                display: block;
            }
        }
    }

    &-sc {
        position:       relative;
        padding-bottom: 47px;

        &:after {
            position:     absolute;
            top:          100%;
            right:        50%;
            left:         50%;
            width:        0;
            height:       0;
            content:      "";
            transform:    translateY(0) translateX(-50%);
            border-width: 22px;
            border-style: solid;
            border-color: white transparent transparent transparent;
        }

        .slick-dots {
            bottom: -35px;
        }

        .slick-dots li button:before,
        .slick-dots li button:hover:before {
            font-size: 10px;
        }

        .slick-dots li.slick-active button:before {
            color: $sky-blue;
        }

        .title {
            font-family:    galano-semibold;
            font-size:      24px;
            line-height:    32px;
            text-transform: initial;
            color:          black;
        }

        &-destinations .slick-list {
            padding-left: 0 !important;
        }

        &-destinations .slick-slide,
        &-destinations .slick-slide.slick-current {
            margin:           0 19px 0 0;
            background-color: transparent;
        }

        .item {
            position: relative;
            //padding: 0 8px;

            img {
                width:  100%;
                height: auto;
            }

            .caption {
                font-family:    galano-bold;
                font-size:      20px;
                line-height:    24px;
                position:       absolute;

                bottom:         0;
                margin:         0;
                padding:        6px 10px;
                text-transform: none;
                color:          $yellow;

                span {
                    display: block;
                    color:   white;
                }
            }
        }
    }

    &-sd {
        padding:          40px 0px;
        background-color: $light-gray;

        .slick-specials {
            padding-bottom: 0px;
        }

        .slick-dots {
            bottom: -35px;
        }

        .slick-dots li button:before,
        .slick-dots li button:hover:before {
            font-size: 10px;
        }

        .slick-dots li.slick-active button:before {
            color: $sky-blue;
        }

        .title {
            font-family:    galano-semibold;
            font-size:      24px;
            line-height:    32px;
            text-align:     center;
            text-transform: initial;
            color:          #322F2F;
        }
    }

    &-se {
        .slick-specials {
            background-color: transparent;
        }


        .slick-dots li button:before,
        .slick-dots li button:hover:before {
            font-size: 10px;
        }

        .slick-dots li.slick-active button:before {
            color: $sky-blue;
        }

        .title {
            font-family:    galano-semibold;
            font-size:      24px;
            line-height:    32px;
            text-align:     center;
            text-transform: initial;
            color:          #322F2F;

        }
    }
}

@media (min-width: 768px) {
    .home {
        &-sa {
            position:      relative;
            margin-bottom: 59px;

            &:after {
                position:     absolute;
                top:          100%;
                right:        50%;
                left:         50%;
                width:        0;
                height:       0;
                content:      "";
                transform:    translateY(0) translateX(-50%);
                border-width: 22px;
                border-style: solid;
                border-color: $blue transparent transparent transparent;
            }

            .booking {
                margin-bottom: 60px;
            }

            .title {
                font-size:     32px;
                line-height:   37.5px;
                margin-bottom: 49px;
                text-align:    center;
            }

            .items {
                display:        flex;
                padding-bottom: 100px;
            }

            .item {
                padding: 10px;

                .num {
                    padding-top: 8px;
                }

            }
        }

        &-sb {
            display:         flex;
            flex-wrap:       wrap;
            justify-content: space-between;
            margin-bottom:   77px;

            .title {
                font-size:      42px;
                font-weight:    600;
                line-height:    49px;
                width:          100%;
                margin-bottom:  78px;
                text-transform: uppercase;
            }

            .text,
            .img {
                flex-grow: 0;
                width:     48%;
            }

            .img {
                order:      2;
                object-fit: cover;
            }

            .text {
                order:         1;
                max-width:     490px;
                padding-right: 15px;
            }

            .movil {
                display: none;
            }

            .desk {
                display: block;
            }
        }

        &-sc {
            padding-bottom: 100px;

            .title {
                font-size:     32px;
                font-weight:   600;
                line-height:   37.5px;
                margin-bottom: 20px;
                text-align:    center;
            }

            .item {
                .caption span {
                    display: initial;
                }
            }

            .slick-dots {
                bottom: -64px;
            }
        }

        &-sd {
            margin-bottom:  49px;
            padding-top:    70px;
            padding-bottom: 100px;

            .slick-specials {
                padding-top: 0;
            }

            .slick-dots {
                bottom: -64px;
            }

            .title {
                font-size:     32px;
                font-weight:   600;
                line-height:   37.5px;
                margin-bottom: 20px;
                text-align:    center;
            }
        }

        &-se {
            padding-bottom: 50px;

            .slick-specials {
                padding-top:    0;
                padding-bottom: 0;
            }

            .title {
                font-size:     32px;
                font-weight:   600;
                line-height:   37.5px;
                margin-bottom: 20px;
                text-align:    center;
            }
        }
    }

}

#instagram-section .h1 {
    font-family: galano-semibold;
    font-size:   36px;
    font-weight: 600;
    line-height: 52.38px;
    text-transform: initial;
}

.home-sc-destinations  {
    background-color: transparent;
}

/* Video background */

.videobg {
    position: relative;
    width: 100%; /* Set video container element width here */
    height: 100%; /* Set video container element height here */
    overflow: hidden;
    background: #111; /* bg color, if video is not high enough */
    z-index: 1;
}
.videobg-container{
    position: relative;
}

.videobg-sound{
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 24px !important;
    height: 24px;
    display: none;
    z-index: 3;
}
.videobg-mute .videobg-sound-mute{
    display: block !important;
}

.videobg-speaker .videobg-sound-speaker{
    display: block !important;
}

.videobg-play{
    .videobg-aspect:after{
        display: none;
    }
}

/* horizontally center the video */
.videobg-width {
    position: absolute;
    width: 120%; /* Change width value to cover more area*/
    height: 100%;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
    position: absolute;
    width: 100%;
    height: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    padding-bottom: 56.25%; /* 16:9 ratio */
    overflow: hidden;



    &:after{
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        background-image: url('/img/icon-galeria/play-filled.svg');
        background-position: center center;
        background-size: cover;
    }
}

.videobg-make-height {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.videobg-hide-controls {
    box-sizing: content-box;
    position: relative;
    height: 100%;
    width: 100%;

    /* Vimeo timeline and play button are ~55px high */
    padding: 55px 97.7777px; /* 16:9 ratio */
    top: -55px;
    left: -97.7777px; /* 16:9 ratio */
}

.videobg iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0 none;
    z-index: -1;
}