.review > div:last-child {
  .item {
    border-bottom: 0;
  }
}

.review-item {
  .item {
    border-bottom: 1px solid $dark-gray;

  }
  .user {
    text-align: center;
    .img {
      width: 80px;
      height: 80px;
      margin-bottom: 5px;
    }
    p {
      text-align: center;
      margin-bottom: 3px;
    }
    .name {
      font-weight: bold;
    }
    .date {
      color: $blue;
      font-style: italic;
    }
    .tag {
      display: block;
      border: 1px solid $dark-gray;
      border-radius: 0.3rem;
    }
  }
  .comment {
    padding-left: 1rem;
    padding-right: 1rem;

    .title {
      display: block;
      text-align: center;
      font-weight: bold;
    }
  }
}