@font-face {
  font-family: 'galano';
  src: url('/fonts/GalanoGrotesque-Light.eot');
  src: url('/fonts/GalanoGrotesque-Light.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano';
  src: url('/fonts/GalanoGrotesque-Regular.eot');
  src: url('/fonts/GalanoGrotesque-Regular.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano';
  src: url('/fonts/GalanoGrotesque-Medium.eot');
  src: url('/fonts/GalanoGrotesque-Medium.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano';
  src: url('/fonts/GalanoGrotesque-SemiBold.eot');
  src: url('/fonts/GalanoGrotesque-SemiBold.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano-bold';
  src: url('/fonts/GalanoGrotesque-Bold.eot');
  src: url('/fonts/GalanoGrotesque-Bold.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano-light';
  src: url('/fonts/GalanoGrotesque-Light.eot');
  src: url('/fonts/GalanoGrotesque-Light.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-Light.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano-semibold';
  src: url('/fonts/GalanoGrotesque-SemiBold.eot');
  src: url('/fonts/GalanoGrotesque-SemiBold.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-SemiBold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano-medium';
  src: url('/fonts/GalanoGrotesque-Medium.eot');
  src: url('/fonts/GalanoGrotesque-Medium.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-Medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'galano-regular';
  src: url('/fonts/GalanoGrotesque-Regular.eot');
  src: url('/fonts/GalanoGrotesque-Regular.ttf') format('truetype'),
  url('/fonts/GalanoGrotesque-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}



$blue: #0c2d63;
$blue-rgba: rgba(12, 45, 99, 0.8);
$gray-rgba: rgba(0, 0, 0, 0.8);

$blue-two : #123E87;

$label-low: #D14F05;
$label-medium: #D14F05;
$label-high: #CF0F03 ;

$sky-blue: #1eabe3;
$sky-blue-op-01: rgba(30, 171, 227, 0.1);

$light-gray: #dddede;
$middle-gray: #aba5a5;
$black-gray: #262b2c;
$dark-gray: #757575;
$yellow: #fdb319;
$yellow-b: #FBBF4C ;

$orange: #EA5E00;
$white: #fff;


$booking-blue: #0c2d63;
$booking-blue-light: #1eabe3;
$booking-blue-dark: #304c7a;

// Font

// Font Size

$font-size-bigger: 1.5rem;
$font-size-normal: 1rem;
$font-size-small: .8rem;

/*.9rem
  2rem
   1.5rem
      1.3rem*/

// Boostrap variables

$font-family-sans-serif: 'galano';
$font-weight-bold: 600;
$font-size-sm: .750rem;

// Colors
$primary: $blue;
$secondary: $orange;
$success: $sky-blue;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
                (
                        sm: 540px,
                        md: 960px,
                        lg: 1100px,
                        xl: 1140px
                ),
                $container-max-widths
);

// Breadcrumbs
$breadcrumb-bg: none;
$breadcrumb-divider-color: $sky-blue;
$breadcrumb-active-color: $black-gray;
$breadcrumb-divider: ">";

// Links

// Style anchor elements.
$link-color: $sky-blue;
$link-decoration: none;
$link-hover-color: $sky-blue;
$link-hover-decoration: none;

// Cards

$card-spacer-y: .75rem;
$card-spacer-x: 1.25rem;
$card-border-width: 0;
$card-border-radius: 0;
$card-body-bg: $blue;
/*$card-border-color:                 rgba($black, .125);
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg:                       rgba($black, .03);
$card-cap-color:                    inherit;
$card-bg:                           $white;

$card-img-overlay-padding:          1.25rem;

$card-group-margin:                 $grid-gutter-width / 2;
$card-deck-margin:                  $card-group-margin;

$card-columns-count:                3;
$card-columns-gap:                  1.25rem;
$card-columns-margin:               $card-spacer-y;*/

// Navs
$nav-pills-border-radius: none;
$nav-pills-link-color: $black-gray;
$nav-pills-link-bg: $light-gray;
$nav-pills-link-active-color: #fff;
$nav-pills-link-active-bg: $blue;

/*$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;

$nav-divider-color:                 $gray-200 !default;
$nav-divider-margin-y:              $spacer / 2 !default;*/

// Buttons
$input-border-radius: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;


/** Color Palette **/

$primary : $blue;

$white: white;