#faqs{
    padding-top: 45px;
    padding-bottom: 45px;
    #questions{
        .btn-block{
            font-size: 20px;
            text-align: left;
            margin-bottom: 5px;
            width: 100%;
            transition: 0.4s;
            &:after{
                content: '\002B';
                float: right;
            }
        }
        .btn-primary:after {
            content: "\2212";
        }
        .btn-default{
            background-color: #dddede;
        }
    }
    .acordion{
        margin-bottom: 10px;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        p{
            margin-top: 20px;
            margin-bottom:20px;
        }
    }
    a{
        text-transform: initial;
        font-size: .92rem !important;
    }
    .back{
        font-size: 1rem !important;
        cursor: pointer;
        color:#fff;
    }
}