@import "variables";
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import 'part_sands_covid19';

.h1{
    line-height: 32px;
    font-weight: bold;
    font-size:32px;
}
.h2{
    font-size: 28px;
    line-height: 26px;
}

.h3{
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 25px;
    font-weight: bold;

    &:hover{
        color: #0c2d63;
    }
}

.p1{
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    color: #5B5B5B;
    max-width: 100%;
}

.owl-theme{
    .owl-item{
        overflow: hidden;
    }
    .owl-stage-outer{
        padding-top:10px;
        padding-bottom:10px;
    }
    .owl-dots {
        text-align: center;
        .owl-dot{
            outline: none;
            cursor: pointer;
             span {
                width: 13px;
                height: 13px;
                margin: 5px 7px;
                background: #C4C4C4;
                display: block;
                transition: opacity .2s ease;
                border-radius: 30px;
            }

            &.active span{
                background: #5B5B5B;
            }
        }
    }
}

.box-b1 .h3{
    text-align: center;
}

.box-we-offer{
    border-top: 1px solid #00ADEE;
    border-bottom: 1px solid #00ADEE;
    padding: 22px 0;
    margin-bottom: 70px;

    .h3{
        text-align: center;
    }

    ul{
        columns: 5;
        list-style: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 40px;

        img{
            height: 64px;
            margin-bottom: 7px;
            display: block;
            margin: auto;
        }
        label{
            font-size: 11px;
            line-height: 12px;
            font-weight: 500;
            color: #5B5B5B;
        }
    }
}

.deals-resort{
    .bg-light-gray{
        background: none;
        
        > .row > div:nth-child(-n + 1) .card-resort{
            opacity: 1;
        }
    }
    .card-resort{
        box-shadow: none;
        opacity: 0.3;
        transition: 0.3s;
        border: 1px solid #ddd;
        &.active{
            opacity: 1;
        }
        &:hover,
        &.hover{
            box-shadow: 2px 2px 9px rgba(0, 173, 238, 0.5);
            transform: translateX(0) scale(1.04);
        }

        &.hover{
            box-shadow: 2px 2px 9px #ea5e00;
        }

        .card-body ul{
            list-style: initial;
        }
    }
}

@media (min-width: 601px) {
    .h1,
    .h2,
    .h3,
    .p1{
        text-align: center;
    }
    .p1{
        max-width: 60%;
        margin:auto;
    }

    .box-b1{
        background: linear-gradient(180deg, 
            rgba(0, 173, 238, 0.2) 0%, 
            rgba(0, 173, 238, 0) 100%);
        padding-top: 37px;
        padding-bottom: 75px;

        .h1{
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        .owl-theme{
            padding-left:50px;
            padding-right: 50px;

            .owl-nav button{
                position: absolute;
                height: 100%;
                top:0;
                font-size: 70px;
                color: #0C2D63;

                &:focus{
                    outline: none;
                }

                &.owl-prev{
                    left: 0;
                }

                &.owl-next{
                    right: 0
                }
            }

             .owl-item{
                transform: translateX(0) scale(.8);
                transition: 0.6s;
                overflow: hidden;
            }
            .active.center{
                transform: translateX(0) scale(1);
                box-shadow: 2px 2px 9px rgba(0,173,238, 0.5);
            }


        }
    }

    .box-we-offer{
        .h3{
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            text-align: center;
        }
    }

}

@media (min-width: 768px) {
    .deals-resort{
        .bg-light-gray{
            background: none;
            
            > .row > div:nth-child(-n + 2) .card-resort{
                opacity: 1;
            }
        }
    }
}

@media (min-width: 992px) {
    .deals-resort{
        .bg-light-gray{
            background: none;
            
            > .row > div:nth-child(-n + 3) .card-resort{
                opacity: 1;
            }
        }
    }
}