@import '~owl.carousel/dist/assets/owl.carousel.css';


.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
    height: 100%;
}

.card-resort .estrellas img{
    display: inline;
    width: 16px;
}

.owl-nav{
    display: none;
}