.card-sands{
    padding: 11px;
    text-align: center;
    position: relative;
    margin-bottom: 21px;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 80%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(270deg, #0C2D63 19.68%, #1EABE3 100%);
        margin: auto;
        z-index: -1;
    }

    .content{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background-color: $white;

        img {
            width: 100%;
        }

        .info {
            padding: 25px 15px;
            > P {
                margin-bottom: 5px;
            }
            .para-a {
                font-family: 'galano-light';
                font-size: 36px;
                font-weight: 300;
                line-height: 123%;
                color: $blue;
                text-align: left;
            }

            .para-b{
                font-family: 'galano-semibold';
                font-weight: 600;
                font-size: 18px;
                line-height: 36px;
                text-decoration: underline;
                color: $sky-blue;
                text-align: left;
            }

            .para-c{
                font-family: 'galano-semibold';
                font-weight: 600;
                line-height: 25px;
                color: $blue;
                text-align: left;
            }
        }

        .link_offer{
            background-color: $blue;
            color: $white;
            padding: 10px 27px;
            max-width: 150px;
            border-radius: 5px;
            font-size: 12.5px;
            border: 0;
            margin-top: 10px;
        }
    }

    /*
    .header img{
        width: 100%;
    }

    .body{
        padding: 21px 35px;
        .stars{
            margin-bottom: 15px;
        }

        .h2{
            font-family: 'galano-semibold';
            font-size: 24px;
            line-height: 28px;
        }
        .h3{
            font-size: 18px;
            text-transform: uppercase;
            line-height: 21px;
            letter-spacing: 0.205em;
            font-family: 'galano-semibold';
        }
        p{
            font-size: 14px;
            line-height: 16px;
            font-family: 'galano-regular';
            text-align: center;
        }
    }
    
    .link_offer{
        background-color: $blue;
        color: $white;
        padding: 10px 27px;
        max-width: 150px;
        border-radius: 5px;
        font-size: 12.5px;
        border: 0;
    }*/
}

@media (min-width: 768px) {
    .card-sands{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 45px;
        &::before{
            height: 100%;
            width: 80%;
        }
        .content{
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            padding: 0;
            background-image: url('/img/banners/sands-fondo.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(268.98deg, #FFFFFF 50.29%, rgba(196, 196, 196, 0) 65.75%);
            }
            img{
                display: none;
            }
            .info{
                max-width: 455px;
                width: 50%;
                z-index: 2;
            }

        }
    }
}

@media (min-width: 900px) {
    .card-sands{
        .content{
            background-size: contain;
        }
    }
}



@media (min-width: 768px) {
    .royal-care-standard{
        .card-certificate{
            background-image: url('/img/royalcarestandard/gel_certificate.jpg') !important; 
        } 
        .content {
            background-image: url('/img/royalcarestandard/gel.jpg');

            &::before{
                background: linear-gradient(268.98deg, #FFFFFF 58.29%, rgba(196, 196, 196, 0) 80.75%);
            }

            .info {
                max-width: none;
                width: 59%;
            }

            .link_offer{
                display: inline-block;
            }
        }
    }

    .royal-care-standard.simpsonbay{
        .content{
            background-image: url('/img/royalcarestandard/simpsonbay-covid.jpg');
        }
    }

    .royal-care-standard.safe-seal{
        .content{
            background-image: url('/img/royalcarestandard/safe-seal-big.png');
        }
    }
}