.booking-now,
.boton-booking-now-fixed{
    display: none !important;
}

footer .copyright{
    padding-bottom: 1.5rem !important;
}
.sec-1{
    background: #093172;
    padding-bottom: 46px;
    margin-bottom: 60px;
    text-align: center;
    padding: 0 30px;


    p {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        font-size: 16px;
        line-height: 1.8rem;
        padding-bottom: 30px;
    }

    .logo{
        margin: 64px auto;
        width: 206px;
    }
}

.sec-2{
    padding: 0 30px;

    .h1{
        font-size: 60px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #FAB80A;
        font-weight: 600;
        margin-bottom: 60px;
        position: relative;

        
    }

    .counter{
        width: 100%;
        margin-bottom: 60px;
    }
    .p-1{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.7rem;
        text-align: justify;
        color: #0C2D63;

        strong {
            font-weight: bolder;
            font-size: 23px;
        }
    }
    .social-links{
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
        z-index: 12;
        position: relative;
    }

    .sec-2-2{
        img{
            width: 90%;
        }
    }
}

.sec-3{
    
    background: url(/img/concursos/background/blue-light.svg), 
        url(/img/concursos/background/green.svg);
    padding: 400px 30px 30px;
    background-size: cover, cover;
    background-position: 45% -50px, 45% 0;
    margin-top: -460px;
    display: block;
    z-index: 11;
    position: relative;
    text-align: center;

    p{
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        max-width: 757px;
        display: block;
        margin:auto;
        font-weight: 500;
        margin-bottom: 47px;
    }

    video{
        height: 100%;
    }
    
    .box{
        display: flex;
        flex-direction: column;
    }

    .b-1 {
        border: solid 1px #fff;
        font-size: 40px;
        font-weight: 600;
        line-height: 104%;
        color: #fff;
        position: relative;
        width: 315px;
        min-height: 188px;
        height: 188px;
        overflow: hidden;
        text-align: left;
        margin: auto;
        margin-bottom: 33px;
        span{
            color: #0C2D63
        }
    }

    .b1-u{
        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .b1-p{
        text-align: center;
        color: #81C38A;
        background-image: url("data:image/svg+xml,%3Csvg width='313' height='188' viewBox='0 0 313 188' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M199.811 135.615C144.914 133.265 123.789 169.559 120.089 188H0V0H312.331C312.836 9.79166 313.542 35.7396 312.331 61.1979C310.818 93.0208 268.433 138.552 199.811 135.615Z' fill='white'/%3E%3C/svg%3E");
        background-size: cover;
        background-repeat: no-repeat;

        label{
            display: block;
        }

        small{
            display: block;
            position: absolute;
            bottom: 5px;
            right: 5px;

            font-size: 20px;
            font-weight: 500;
            line-height: 23px;
            text-align: center;
            color: #fff;
        }
    }

    .btn-subscribe{
        background: #0C2D63;
        border-color: #0C2D63;
        box-shadow: 2px 7px 10px rgba(4, 57, 146, 0.3);
        border-radius: 20px;
        padding: 0px 32px 13px;
        font-size: 40px;
        line-height: 69px;
        text-align: center;
        text-transform: uppercase;
        font-feature-settings: 'kern' off;
        color: #FFFFFF;
        display: block;
        margin:auto;
        margin-bottom: 13px;
    }

    .terms{
        font-size: 12px;
        color: #fff;
        font-weight: 500;
        text-transform: initial;
    }

}

@media (min-width: 1000px) {
    .sec-1{
        background: url('/img/concursos/background/blue.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        padding-bottom:20%;

        

        .logo{
            width: 300px;
            margin: 54px;
        }
        p{
            max-width: 989px;
            display: block;
            margin: auto;
        }
    }
    .sec-2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: -10%;

        .h1::after{
            content: "";
            position: absolute;
            /* background: url(/img/concursos/background/vector3.svg); */
            background-size: contain;
            width: 80px;
            height: 80px;
            top: -31px;
            right: 10px;
        }

        .social-links{
            justify-content: center;
            margin-bottom: 60px;
            > a{
                margin: 27px;
            }
        }
        .sec-2-1{
            width: 50%;
            text-align: center;
            > div{
                max-width: 600px;
            }
            img{
                width: 90%;
            }
            .h1{
                font-size: 56px;
                line-height: 66px;
                letter-spacing: -0.02em;
            }
            .p-1{
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 23px;
            }
            //align-self: flex-end;
        }
        .sec-2-2{
            width: 50%;
            transform: translateX(-25%) scale(1.2);
            //align-self: flex-start;
        }
    }

    .sec-3{
        background: url(/img/concursos/background/green.svg),
         url(/img/concursos/background/blue-light-2.svg);
        
        background-size: cover, cover, 222px 100px, 108px 59px;
        //background-position: 0% 46px, 0% 0%, 52% 86px, 41% 133px;
        background-position: 0% 46px, 0% 0%;
        background-repeat: no-repeat;

        text-align: center;
        margin-top: 0;

        p{
            margin-bottom: 57px;
        }
        p.premio{
            font-weight: 600;
            color: #0C2D63;
        }
        .box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 48px;
            text-align: left;

            p{
                margin-bottom: 10px;
            }

            .b-1{
                width: 315px;
                margin: 10px;
            }
        }

        .btn-subscribe{
            margin-bottom: 15px;
        }

        
        
    }
}
@media all and(max-width: 464px) {
    .h1{
        font-size: 35px ! important
    }
}