.text-bluelight{
    color:#1EABE3;
}

.no-gutters-col{
    padding-left: 0;
    padding-right: 0;
}

.align-center{
    align-self: center;
}

.flex-auto{
    flex: auto;
}

.justify-flex-end{
    align-self: flex-end;
}

.owl-carousel-card{
    .owl-stage-outer,
    .owl-stage,
    .owl-stage{
        height: 100%;
    }
    .owl-nav{
        button {
            outline-style: none !important;
            padding: 8px !important;
            top:-17px !important;
            span{
                opacity: 0;
                color:#fff !important;
            }
        }
    }

    .owl-dots{
        text-align: center;
        position: relative;
        z-index: 5;
        margin-top: -35px;
        //opacity: 0;
        .owl-dot{
            display: inline-block !important;
            width: 10px;
            height: 10px;
            margin: 5px 7px;
            background: #D6D6D6;
            -webkit-backface-visibility: visible;
            transition: opacity .2s ease;
            border-radius: 30px;
            &.active{
                background-color: #1eabe3;
            }
        }
    }
    
    .owl-item{
        .item{
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }

    &:hover{
        
        .owl-nav{
            button {
                span{
                    opacity: 1;
                    transition: opacity .6s ease;
                }
            }
        }
        .owl-dots{
            opacity: 1;
            transition: opacity .6s ease;
        }
    }
}

.btn-dstn{
    outline-style: none !important;
    outline: none !important;
}

.active-dstn{
    outline-style: auto !important;
    outline: 2px solid #1EABE3 !important;
}

.bg-white{
    position: relative;
    background: #fff;
    margin-bottom: 35px;
    border: 1px solid #d7d7d7;
    z-index: 1;
}

.align-flex{
    align-self: center;
}

.bg-gray{
    background: gray;
}

.offset-left{
    padding-left: 0;
}

.label-offer{
    font-size: 14px;
    font-weight: 500;
    background-color: #1EABE3;
    color: #fff;
    top: -44px;
    padding: 10px 10px 6px 10px;
    border-radius: 10px 10px 0 0;
}

.active-card{
    filter: drop-shadow(2px 2px 20px rgba(30, 171, 227, 0.3));
}

.sub-inter-special{
    .container{
        max-width: 1148px !important;
    }

    .small-text{
        display: none;
    }

    position: relative;
    &:before{
        content:'';
        background-image: url("/img/deals/icons-deals/offer-icons.png");
        position: absolute;
        width: 100%;
        height: 355px;
        top:120px;
        left: 0;
    }

    .title-main{
        font-family: 'galano-bold';
        font-size: 36px;
        color:#C31003;
        width: 50%;
        line-height: 35px;
    }

    .title-info{
        p{
            font-weight: 400;
            font-size: 15px;
            text-align: center;
            //color:#5B5B5B !important;

            strong{
                color:#1eabe3
            }

        }
    }

    .title-resort{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3rem;
        color: #0c2d63;
        margin-bottom: 6px;
    }
    
    .text-destination{
        font-size: 14px;
        font-weight: 300;
        padding-right: 0px;
        color: #5B5B5B;
    }

    .text-duration{
        font-size: 13px;
        font-weight: 500;
        //color:#939595;
        color:#262b2c;
        margin-top: 0px;
        margin-bottom: 0;
    }

    .main-div{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        align-items: center;
        .text-offer{
            position: relative;
            text-align: center;
            width: 50%; 
            z-index: 1;
            margin-left: 25px;
            p{
                font-size: 18px;
                font-weight: 600;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 0;
                color:#fff;
                text-align: center;
            }
            &:before{
                content:'';
                position: absolute;
                width: 100%; 
                height: 100%;
                background: #000;
                top:0;
                left: 0;
                -webkit-transform: skew(-11deg);
                -moz-transform: skew(-11deg);
                -ms-transform: skew(-11deg);
                -o-transform: skew(-11deg);
                transform: skew(-11deg);
                z-index: -1;
            }
        }
    }

    .mb-contain{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .choose-destination{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:40px;
        label{
            margin-right:50px;
            font-weight: 600;
            font-size: 18px;
            color:#262B2C;
        }
        button:nth-of-type(1){
            margin-right:22px;
        }
        button{
            font-size: 14px;
            font-weight: 600;
            // padding:20px 29px 20px 29px;
            // width: 175px;
            height: 60px;
            background: #fff;
            color:#0C2D63;
            border:none;
            box-shadow: 2px 2px 10px rgba(25, 169, 225, 0.2);
        }
    }


    .main-description{
        padding-top: 30px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        text-align: center;
        color:#0C2D63;
        padding-left: 215px;
        padding-right: 215px;
        margin-bottom: 0;
    }

    .paid-method{
        margin-top: 30px;
        margin-bottom: 32px;
        label{
            font-size: 14px;
            font-weight: 500;
            color:#424242;
            margin-right: 10px;
        }
        img:not(:last-child){
            margin-right:15px;
        }
    }
    
    .card-new{
        .contain-img{
            overflow: hidden;
            padding: 0;
            height: 100%;
            img{
                width: 100%;/*Temporal*/
                height: 100%;
                object-fit: cover;
            }
        }
        .hotel-info{
            padding-top: 17px;
            padding-left: 10px;
            padding-right: 14px;
        }

        .card-group{

        }

        .certificate-mobil{
            display: none;
        }

        .certificate,.certificate-mobil{
            margin-top: 30px;
            ul{
                padding-inline-start: 0;
                li{
                    display: flex;
                    font-weight: 500;
                    list-style: none;
                    //color: #939595;
                    color: #262b2c;
                    font-size: 14px;
                    &::before{
                        content:'';
                        background-image: url("/img/icons-resorts/icons-blue-check.png");
                        display: inline-block;
                        margin-right: 10px;
                        width: 24px;
                        height: 24px;
                        flex-shrink: 0;
                    }
                }
            }
        }
        
        .plans{
            padding-top: 13px;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .plan{
                &:not(:last-of-type):after{
                    content: '';
                    border-bottom: 1px solid #E8EBED;
                    width: 97%;
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-bottom: 10px;
                }
            }

            .offset-left{
                align-self: center;
            }

            .btn-booknew{
                font-size: 12px;
                font-weight: 600;
                background: #fff;
                padding: 7px 10px;
                border: 1px solid #EA5E00;
                border-radius: 2px;
                color:#EA5E00;

                &:focus{
                    outline-style: none;
                }

                &:hover{
                    background-color:#EA5E00;
                    color:#fff;
                }
            }

            .title-plan{
                font-size: 15px;
                font-weight: 600;
                line-height: 18px;
                text-transform: uppercase;
                color: #0C2D63;
                margin-bottom: 5px;
            }
            
            .inclusion{
                padding-inline-start: 18px;
                margin-bottom: 10px;
                // width:120px;
                li{
                    font-size: 12px;
                    font-weight: 500;
                    //color:#939595;
                    color:#262b2c;
                }
            }

            .room-promotion {
                p {
                  font-weight: bold !important;
                  text-align: center;
                  font-size: 1.3rem;
            
                  &.rate-from{
                    font-size: 12px;
                    margin-bottom: 0px;
                    font-family: 'galano-semibold';
                    font-weight: 600;
                    color: #6C757D;
            
                    span{
                      text-decoration: line-through;
                    }
                    
                  }
            
                  &.rate{
                    font-family: 'galano-semibold';
                    font-weight: 600;
                    font-size: 22px;
                    margin-bottom: 0px;
                    color:#0C2D63;
            
                    &.rate-label{
                      margin-bottom: 24px;
                      margin-top: 24px;
                    }
                  }
            
            
                  &.rate-description{
                    font-family: 'galano-regular';
                    font-size: 12px;
                    margin-bottom: 0px;
                  }
            
                }
            }
            .modal-set{
                .buttons{
                    // padding-top: 5px;
                    a{
                        display: block;
                        margin-bottom: 12px;
                        font-weight: 500;
                    }
                    // width: 125px;
                }
            }
        }
    }
}

.item-video{
    height: 233px;
}

@media all and (max-width: 1017px) {
    .main-description{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }   
}

@media all and (max-width: 993px) {
    .main-div{
        .title-main{
            width: 50%;
            line-height: 35px;
        }
        .text-offer{
            max-width: 240px;
            width: 50%;
        }
    }
    .card-new{
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        margin-right: -10px;
        height: 100%;
    }

    .certificate-mobil{
        display: block !important;
    }

    .certificate{
        display: none;
    }

    .owl-nav{
        button {
            span{
                opacity: 1 !important;
            }
        }
    }

    .owl-dots{
        opacity: 1 !important;
    }

    .contain-img{
        height: initial !important;
    }
    
    .hotel-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .plans{
        flex: 1 1 auto;
        padding-left: 15px !important;
    }

    .content-card{
        margin-bottom: 35px;
        position: relative;
    }

    .text-duration{
        text-align: center;
        margin-left: 10px !important;
        margin-bottom: 10px !important;
    }

    .offset-left{
        padding-left: 12px;
    }

    .wp-lr{
        padding-left: 0;
        padding-right: 0;
    }

    .long-text{
        display: none;
    }
    .small-text{
        display: block !important;
    }

    .room-promotion{
        margin-left: -5px;
    }

    .item-video{
        height: 296px !important;
    }
}

@media all and (max-width: 558px) {
    .hotel-info{
        padding-top: 15px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .title-info{
        display: none;
    }

    .main-description,.title-info{
        padding: 15px !important;
    }

    .mb-contain{
        flex-direction: column;
    }

    .title-plan{
        font-size: 18px !important;
        line-height: 15px;
    }

    .plans{
        padding-top: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        .plan{
            align-items: center;
            .col-4{
                padding-right: 10px;
                align-self: center;
            }
        }
    }

    .bg-white{
        z-index: 0;
    }
    
    .inclusion{
        display: none;
    }

    .main-div{
        flex-direction: column;
        margin-top: 15px !important;
        .text-offer{
            width: auto !important;
            margin: auto !important;
        }
        .title-main{
            width: auto !important;
            text-align: center;
            line-height: 30px !important;
        }
    }

    .room-promotion {
        p {
          &.rate-from,&.rate-description{
            font-size: 10px !important;            
          }
    
          &.rate{
            font-size: 20px !important;
          }
        }
    }
    
    .modal-set{
        float: inherit !important;
        margin-top: 10px;
        .buttons{
            width: 100% !important;
        }
    }

    .btn-booknew{
        // padding: 7px 20px 7px 20px !important;
        margin-bottom: 10px;
    }

    .text-duration{
        font-size: 12px !important;
        text-align: center; 
        margin-bottom: 5px;
    }

    .paid-method{
        margin-bottom: 0 !important;
        text-align: center !important;
        order:1;
    }

    .choose-destination{
        flex-direction: column;
        margin-bottom: 40px;
        order: 2;
        label{
            margin-right: 0 !important;
            margin-bottom: 22px;
        }
        button{
            // padding:15px !important;
            width: 150px !important;
        }
    }

    .item-video{
        height: 276px !important;
    }
}

.vimeo-video{
    position: relative;
    overflow: hidden;
}



/* Video background */

.videobg {
    position: relative;
    width: 100%; /* Set video container element width here */
    height: 100%; /* Set video container element height here */
    overflow: hidden;
    background: #111; /* bg color, if video is not high enough */
    z-index: 1;
}
.videobg-container{
    position: relative;
}

.videobg-sound{
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 24px !important;
    height: 24px !important;
    display: none !important;
    z-index: 3;
}
.videobg-mute .videobg-sound-mute{
    display: block !important;
}

.videobg-speaker .videobg-sound-speaker{
    display: block !important;
}


/* horizontally center the video */
.videobg-width {
    position: absolute;
    width: 150%; /* Change width value to cover more area*/
    height: 100%;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
    position: absolute;
    width: 100%;
    height: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    padding-bottom: 56.25%; /* 16:9 ratio */
    overflow: hidden;

}

.videobg-make-height {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.videobg-hide-controls {
    box-sizing: content-box;
    position: relative;
    height: 100%;
    width: 100%;

    /* Vimeo timeline and play button are ~55px high */
    padding: 55px 97.7777px; /* 16:9 ratio */
    top: -55px;
    left: -97.7777px; /* 16:9 ratio */
}

.videobg iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0 none;
    z-index: -1;
}

/**
*Individual Resort Offers
*/
.individual-resort{
    .title-info{
        strong{
            color: #212529 !important;
        }
    }
}

@media all and (min-width: 1118px) {
    .individual-resort{
        .main-description{
            padding-bottom: 30px;
        }
    }

    .gallery-intern-resort{
        .item{
            &-big{
                max-height: 528px;

                img{
                    object-position: right;
                }
            }

            &-double{
                img{
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }

            .mosaic-grid{
                justify-content: space-between;
            }
        }
    }
}

@media all and (min-width: 764px) {
    .gallery-intern-resort {
        justify-content: space-between;

        .item {
            max-width: 33.33333%;

            img {
                object-fit: cover;
                cursor: pointer;

                &:first-child {
                    margin-bottom: 10px;
                }
            }

            &-group {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            &-big {
                img {
                    margin-bottom: 0 !important;
                }

                padding: 0 38px 0 38px;
            }

            .mosaic-grid {
                img {
                    margin-bottom: 0;
                    max-width: 50%;

                    &:first-child {
                        padding-right: 12px;
                    }

                    &:last-child {
                        padding-left: 12px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 763px) {
    .gallery-intern-resort{
        flex-direction: column;

        .item{
            img{
                padding-bottom: 10px;
            }

            &-big{
                max-height: 264px;

                img{
                    object-fit: cover;
                    object-position: center;
                }
            }

            .mosaic-grid{
                img{
                    width: 50% !important;
                    &:first-child{
                        padding-right: 12px;
                    }
                    &:last-child{
                        padding-left: 12px;
                    }
                }
            }
        }
    }
    #gallery-intern {
        .modal-body{
            padding: 0 !important;
        }
        .modal-content {
            width: 100% !important;
        }

        .modal-dialog {
            width: 100% !important;
            margin: 0 !important;
        }

    }
    .owl-carousel{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .contain-img-gallery.owl-carousel{
        .owl-nav{
            button{
                &.owl-prev{
                    span{
                        left: 0px !important;
                    }
                }

                &.owl-next{
                    span{
                        right: 0px !important;
                    }
                }
            }
        }
    }
}

#gallery-intern{
    .modal-content{
        width: 677px;
        background: none;
        border: none;
    }
    .modal-dialog{
        max-width: 677px !important;
    }
}

.pb-lg-7{
    padding-bottom: 5rem;
}

.pb-lg-6{
    padding-bottom: 3.5rem;
}

.text-call{
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #0C2D63;
}

.contain-img-gallery.owl-carousel{
    .owl-nav{
        button{

            span{
                position: relative;
                display: block;
                background: #fff;
                width: 50px;
                height: 50px;
                color: #949494;
            }

            &.owl-prev{
                span{
                    left: -20px;
                }
                span:before{
                    content: "‹";
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    left: 0;
                    top: -45px;
                }
            }

            &.owl-next{
                span{
                    right: -20px;
                }
                span:before{
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    content: "›";
                    top: -45px;
                    left:0;
                }
            }
        }
    }
}