@import "main";
@import "utilities";
@import "~choices.js/public/assets/styles/choices.css";
@import "~vanillajs-datepicker/sass/datepicker";

h2{
  @extend %text_bold;
  text-transform: uppercase;
}
p{
  @extend %text_body;
  text-align: justify;
}
li{
  @extend %text_body
}

.main{
  background-color: #fff;
  padding: 10px;
}


.galery{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

   img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
  & > div:first-child{
    grid-column: span 2;
    grid-row: span 2;
  }
}

.ul-2{
  list-style: none;
  padding-left: 0;
  column-count: 2;
  column-gap: 20px;
}
.bnt-offer{
  width: 170px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 12px;
  display: inline-block;
  border: 1px solid #0C2D63 ;
  box-sizing: border-box;
  border-radius: 3px;
  text-decoration: none;
  color: #0C2D63;
  font-weight: bold;
  border-radius: 3px;
  &:focus{
    outline: none;
  }
}
.btn-book{
  width: 170px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 12px;
  background: #EA5E00;
  border: solid #EA5E00;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}