$color_primary : #0C2D63;
$color_blue: #0558A5;
$color_gray : #C4C4C4;
$color_btn_book: #EA5E00;
$color_btn_text_book: #FFF;

.hidden{
  display: none !important;
}

@mixin text_body {
  font-family: arial, serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}
%text_body{
  @include text_body;
}

@mixin text_bold{
  font-family: arial, serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 130%;
}
%text_bold{
  @include text_bold;
}

%text_h1{
  font-family: arial, serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
  line-height: 130%;
}

%text_h2{
  font-family: arial, serif;
  font-size: 18px;
  font-weight: bold;
}


%btn_book{
  @extend %text_bold;
  color: $color_btn_text_book;
  background-color: $color_btn_book;
  padding: 10px 12px;
  text-align: center;
  text-transform: uppercase;
  border:none;
  border-radius: 3px;
}
